[2018-11-13 07:08] the-maldridge opened #8 "Need and automated style guide and formatter"
This repo needs an automatic style check and ideally an auto-formatter.  Now taking suggestions.

[2018-11-13 08:06] bobertlo commented on #8
https://github.com/markdownlint/markdownlint looks promising as far as style checking.

[2018-11-13 08:08] bobertlo commented on #8
`pandoc -t markdown --atx-headers` seems to do a decent job autoformatting also.

[2018-11-13 09:02] bobertlo commented on #8
I ran the above pandoc command recursively on my isntallguide branch without squashing the commit.

I just used:
[code]

And executed it on all markdown files. It may not be exactly what you were thinking, but maybe a good start?

[2018-11-13 09:37] bobertlo commented on #8
See #9 as a possible suggestion for autoformatting.

[2018-11-14 09:47] bobertlo commented on #8
I started working on a go program that, so far, can traverse markdown trees. With some restrictions on the acceptable input in the context of an mdbook, it would be feasible to create an auto-formatter which can catch violations of some simple rules aswell. I'm not sure if this is what you mean?

[2018-11-16 01:13] the-maldridge commented on #8
That's basically exactly what I mean.  The tricky bit is that it needs to handle tables, and I have some specific requests around how it handles links.  How developed is your program?

[2018-11-20 07:58] the-maldridge commented on #8
Waiting on https://github.com/bobertlo/vmd

[2018-11-23 10:38] bobertlo commented on #8
I fixed the newline issue and did push to master, since the CI will more than likely fail without the auto-formatter.

I staged void package and would like to add documentation about the autoformatter, so contributors don't have to `gimme` a go install, but that should wait until I finish the frontend at least. I will stay in touch and *not break anything*. I want to do some refactoring *after* wr

[2018-11-27 01:44] the-maldridge commented on #8
vmdfmt has been adopted as the official formatting tool.

[2018-11-27 01:44] #8 closed

[2018-12-05 02:18] unix-lover commented on #8
I know this is closed as being solved with vmdfmt, but I might add the suggestion that similar tools exist (even in Go) that have already gained some maturity. Check these out:

- [markdownfmt](https://github.com/shurcooL/markdownfmt) (Go, seems to be the most popular)
- [mdfmt](https://github.com/moorereason/mdfmt) (also Go)
- [tidy-markdown](https://github.com/slang800/tidy-markdown) (CoffeeScri

[2018-12-06 22:41] pltrz opened #29 "Title casing for headers"
I noticed that there are some incensistencies in the title casings for headers. Some are capitalized on only the first word, some on all of them, and some others etc.

We should decide on a style and add it to the style guide; we should then comb through the existing documentation and bring it all up to speed.

[2018-12-06 23:06] bobertlo commented on #29
I had been naturally capitalizing all words, but noticed they were mostly not and stopped. I would vote all capitalized, but don't really care.

[2018-12-06 23:30] pltrz commented on #29
[Here](https://en.wikipedia.org/wiki/Letter_case#Case_styles) are a few case styles described on wikipedia.

Here are the conventions used by the Arch Wiki to add to the discussion:

- <https://wiki.archlinux.org/index.php/Help:Style#Title>
- <https://wiki.archlinux.org/index.php/Help:Style#Section_headings>

They use sentence case over there.

[2018-12-06 23:35] CameronNemo commented on #29
I would prefer capitalizing all words in the title of a page, but only capitalizing the first word in subheadings.

[2018-12-06 23:41] pltrz commented on #29
My personal vote would be for sentence case in both titles and subheadings, ie. capitalizing only the first word.

[2018-12-07 15:04] bobertlo commented on #29
There seems to be momentum behind sentence casing. I don't have a strong opinion on capitalization, but think it should be consistent between titles and subheadings.

[2018-12-08 07:06] pltrz commented on #29
I've been doing a bit more digging into what conventions are for other groups.

Organizations that use sentence casing:
- [Wikipedia](https://en.wikipedia.org/wiki/Wikipedia:Naming_conventions_(capitalization))
- [Gentoo Wiki](https://wiki.gentoo.org/wiki/Gentoo_Wiki:Guidelines#Titles_and_section_headings)
- [University of Oxford Public Affairs](https://www.ox.ac.uk/public-affairs/style-guide?wssl

[2018-12-08 07:31] the-maldridge commented on #29
Lets use title case for page titles and sentence case for everything else.

[2018-12-08 08:34] bobertlo commented on #29
^ works for me. I still don't really care, but guess I would prefer title case for page titles, especially after looking at TOC

[2018-12-17 07:38] #29 closed

[2019-01-23 20:51] kaosatha opened #43 "shells: `loksh` and `oksh`"
In the section on shells, `oksh` is listed, however on my system I get a message stating `oksh` is being removed from the repos. It seems to have been superseeded by `loksh`, which is not listed in the docs. This suggests to me that the docs are slightly outdated in this regard.

I have tried to create a PR to fix this, but something is broken along the line and it doesn't seem to be working.

[2019-01-27 20:20] #43 closed

[2019-02-03 22:17] nilium opened #49 "config/xorg: Session and seat management documentation"
**Source:** [config/xorg/index.md](https://github.com/void-linux/void-docs/blob/master/src/config/xorg/index.md)

This needs to be written by someone with knowledge of the subject, and it's not clear what needs to be covered in the first place. Attempts so far have filled out bits of the documentation (such as #38) but topics like using dbus-launch, ConsoleKit2, elogind, and other programs / servi

[2019-02-04 22:50] bobertlo opened #50 "NetworkManager"
The NetworkManager page is empty. It should be written or removed.

[2019-02-04 22:51] the-maldridge commented on #50
I'm inclined to remove.  Writing it would require non-trivial information about things like nmcli and nmtui.

[2019-02-04 23:23] bobertlo opened #51 "Definition of scope"
There is no definition of the scope of these documents, as was discussed on IRC. What should be included and what should not?

There seemed to be an agreement that these documents should be a manual for the setup and administration of void systems, and generally excluding how to use upstream software aside from documenting idiosyncrasies presented by void.

I think it would be useful to formalize

[2019-02-07 09:46] bobertlo opened #57 "CUPS pages overlap"
Looking at the PR #41 it seems that the CUPS pages (config/install) are overlapping. I don't think that all of this information belongs on one page, but restructuring this section would be very helpful. There seems to be installation and configuration information mixed between both pages and, in some cases, duplicated.

[2019-02-07 15:51] Duncaen opened #58 "RFC: style guide: linking to man pages."
Currently most links to man pages follow `[page(section)](https://man.voidlinux.org/page.section)`, there is one exception I know of, the `init(8)` link on in `about.md`, it uses a link and "code" inside of the link text.

I personally prefer to keep it simpler and just use links.

[2019-02-07 18:25] bobertlo commented on #58
+1 on this

[2019-02-08 02:18] #58 closed

[2019-02-08 07:10] CameronNemo commented on #57
It could go on one page maybe. Indeed it could use a little restructuring. Currently the model is stage 1 install everything you might want, stage 2 configure what you installed. Probably not the best way to go about it.

[2019-02-08 08:53] #50 closed

[2019-02-08 08:56] bobertlo commented on #57
I agree, I could have qualified that statement. I didn't mean these necessarily need to be merged into one page.

[2019-02-08 11:45] Duncaen opened #63 "Accessibility improvements"
- [x] Skip to content https://github.com/void-linux/void-docs/pull/61
- [ ] unbind mdbooks arrow key bindings? I think this could interference with users who use the keyboard/arrow keys to navigate web pages.
- [ ] sitemap? not supported by mdbook.

[2019-02-08 20:58] pltrz commented on #63
When browsing using qutebrowser, which uses insert-mode for typing, typing into the search bar causes it to exit insert-mode after each character typed

[2019-02-09 17:13] bobertlo commented on #57
Closed by #64

[2019-02-09 17:13] #57 closed

[2019-02-10 22:52] bobertlo commented on #51
#62 added an informal description in 'howtoread/index.md'.

I'm leaving this open for now to think about possible style guide additions. I don't see a pressing need to address anything at the moment.

[2019-02-11 09:22] bobertlo commented on #49
Upon learning for the first time about the interconnected nature of dbus/bluetoothd/ConsoleKit/PulseAudio/PolicyKit/etc, I agree much more these should be documented... grudgingly.

I am starting to wonder though, if there should be a separate section documenting some sort of compatibility layer with Desktop Linux(™). I'm not being facetious. I have a couple machines I could test the 'flavor image

[2019-02-12 18:21] Duncaen commented on #63
The search functionality comes from mdbook without any modifications, I don't really want to divert from it.
https://github.com/rust-lang-nursery/mdBook/blob/master/src/theme/searcher/searcher.js#L270-L277
https://github.com/rust-lang-nursery/mdBook/blob/master/src/theme/searcher/searcher.js#L333-L334
They do unfocus the input and refocus it after every key event for some reason.

[2019-02-20 06:33] bobertlo opened #71 "Base System Requirements Testing"
I took these values straight off of the wiki. I can only assume they were somewhat stale. It would be nice if these were tested, and especially with some context of what can be done with these minimal stats.

[2019-02-20 06:53] bobertlo commented on #51
I think this has been addressed properly for now.

[2019-02-20 06:53] #51 closed

[2019-02-22 14:46] pltrz commented on #71
We did update the storage requirements in #33 however keep in mind this was purely for a `base-system` with no room for any other packages (no bootloader, lvm, cryptsetup, nothing). Whether this should be clarified or changed in the docs to reflect that should maybe be considered.

We also state this in the docs as it currently stands:

which kind of suggests that those space requirements are alre

[2019-02-22 19:41] bobertlo commented on #71
I like this direction for this. It's certainly not a huge issue, but maybe just some clarification of what these numbers actually mean would be helpful. I'm really busy at the moment, but maybe some testing in memory restricted VMs to check requirements and performance would be useful. This is not anything urgent, just something I was wondering about.

[2019-02-27 17:22] pltrz commented on #71
I wonder if there are any ideas on this because I find memory requirements to be extremely arbitrary and dependent on the use-case.

[2019-03-02 19:52] bobertlo commented on #71
I'm totally swamped with work. @the-maldridge, do you have any opinion on this? I like the idea of more real world recommendations like 128MB, or just more clarification on what you can do with the *bare* minimum. Something like what Debian has might be good.

[2019-03-04 23:44] pltrz opened #81 "Travis CI passes check it shouldn't"
I've described an issue I encountered at bobertlo/vmd/issues/7. In the meantime, this issue resulted in a [successful travis check](https://travis-ci.org/void-linux/void-docs/builds/501751217) even though it should not return 0.

[2019-03-05 00:25] bobertlo commented on #81
I am cleaning my house, but will look at this when I get back. I set it up to not support html tags for now. Are these coming from inside codeblocks? This is a strage bug, because the codeblock contents should only be raw content. I'll look at what blackfriday is giving us to work with. If it actually changed any contents, it would fail the CI, so this is very odd.

BlackFriday has some bugs and s

[2019-03-05 01:23] bobertlo commented on #81
So, with more details in #76, upstream is broken on this one, and I'm not writing a whole markdown parser.

Perhaps it was hubris for us to reach towards code-blocks inside of block-quotes?

I'm digging around, but in my past experience with blackfriday, this is not going to get fixed anytime soon upstream, but I'm already vendoring another bugfix in the vmd repo.

Stylistically I'm leaning toward

[2019-03-05 22:17] pltrz commented on #81
I'm afraid I disagree here; I believe blockquotes can be effective in mentioning bits of information that are tangentially related to the topic on hand. For example, things that are worthwhile knowing, but if included in the main body would break the flow of related information and excluding altogether would render the page lacking.

[2019-03-05 22:51] bobertlo commented on #81
I will look into it. I’m frustrated that this issue did not come up until it’s been running for so long. I can’t reproduce it outside of your file and have not been able to change your file in any way to make it go away. I’m fearing some sort of complex interaction inside the parser, but it’s not my code. I will try to come up with a fix as soon as I have more time.

[2019-03-05 23:01] pltrz commented on #81
Yes, I was getting seriously weirded out by it. It's hard to try and isolate the cause since it's so inconsistent.

[2019-03-06 21:48] bobertlo commented on #81
I took a look into blackfriday and I didn't quite wrap my head around it, but that code isn't as scary as I thought it would be. I'll put this near the top of my list.

[2019-03-07 16:10] bobertlo commented on #81
I'm closing this. There might be a better solution, but I'm adding your special page to the tests so this will be covered.

[2019-03-07 16:10] #81 closed

[2019-03-09 23:07] bobertlo opened #85 "Advanced installation guides"
I plan to start working on this, but am looking for input on how to handle this. There are SO many installation guides on the wiki, with SO much duplication. My proposal is to create a fleshed out "advanced installation" guide, along with other specific guides, which will only offer differences from the main guide.

### Advanced Installation Guide
This guide will detail "manual" installation from

[2019-03-09 23:10] bobertlo commented on #85
@the-maldridge @nilium any opinions on this? I want to make sure we're on the same page before I start writing this. I'd like to start the main guide and possibly recruit others to write other sections as needed/wanted, because that's a lot of work and I don't want to write about things I'm not familiar with.

[2019-03-10 22:44] Duncaen commented on #85
I think the if you can split it into nice logical steps like "Disk setup", with separate pages where you can go in depth into encrypted disks etc you can avoid having "alternative" guides.

The raspberrypi and other embedded systems are too different to setup and basically just hey put this image here and boot, I think they are more like using the installer script and not part of the "Advanced ins

[2019-03-10 23:02] bobertlo commented on #85
Thanks @Duncaen those are good points! Put like that I agree. Since the images are not the same procedure, they should be handled separately, and this might remove the need for different sections.

I'll try writing up the advanced guide and see how disk encryption does or does not fit in that guide.

Also, Im not sure what other things there are to cover within the scope of this document.

[2019-03-11 01:18] nilium commented on #85
Only thing I'd add is that PXE / iPXE booting is probably worth covering at some level. I've at least used iPXE booting for my build server, and documenting that would be probably only a few paragraphs because of how simple it is. Other than that, I don't think I've done any installations that'd fall under this category, so I don't have much of an opinion.

[2019-03-11 01:22] the-maldridge commented on #85
I also vote for reducing if possible the number of alternative guides.  It would be much better imho to have a choose-your-own-adventure flow to it rather than a bunch of guides that are running on rails.  To cover @nilium's suggestion maybe you could have a section on "booting the installer" where you could talk about dd or its windows equivalent, iPXE, regular PXE, and whatever other exotic meth

[2019-03-11 01:59] pltrz commented on #85
I also think it would work better broken up. Choose-your-own-adventure sounds really ideal.

One possibility for this is to have something like a *very high level* overview of an installation, with each step mentioning some of the possible options (LUKS, LVM, filesystems, PXE, etc) and with each of those having it's own page with the necessary info (in the same consice style as all the existing pa

[2019-03-11 02:38] bobertlo commented on #85
To be clear, I did mean for the "Advanced Guide" to be presented in logical sections. Thanks for all the input. I'll try to start work on this tomorrow.

[2019-03-27 17:00] pltrz commented on #85
@bobertlo have you started on this? If you haven't, I can and I can open up a WIP pull request

[2019-03-27 17:49] bobertlo commented on #85
@pltrz I hadn't had time yet. You're welcome to try to start one.

[2019-03-29 02:09] CameronNemo opened #89 "Troubleshooting common xbps errors section is only a stub"
Good topics to cover:

* diagnosing broken shlibs issues
* verifying that the repositories are configured correctly

[2019-04-19 21:44] annadane opened #93 "Pulseaudio: alsa-plugins-pulseaudio suggestion"
I had a perplexing issue where I had an application which would play sound, but not show up in pavucontrol, and would not play sound if pavucontrol was open. The solution to this - i linked a bunch of other services so I don't know if it was just this and really I should experiment before submitting this PR - was to install the alsa-plugins-pulseaudio package and restart pulse, may be worth adding

[2019-04-19 22:29] annadane commented on #93
After removing the services I can confirm that only alsa-plugins-pulseaudio is required, otherwise one can follow the instructions to set up pulse from the docs

[2019-04-21 16:37] #93 closed

[2019-07-07 17:56] Anachron opened #200 "Update Request: Mirror-List"
https://docs.voidlinux.org/xbps/repositories/mirrors/list.html

Replace with Finland

Delete since it doesn't exist anymore.

[2019-07-19 17:39] the-maldridge opened #104 "Cutover plan"
The docs have reached a pretty good level of maintenance, and I'm glad to see the high quality bar that has been maintained over here.  Lets start putting together a plan to once and for all EOL the wiki server.  I want to reclaim those resources and reassign them to putting a mirror back in Germany, something we desperately need since the German intranet is very sad as of late.

Lets target end o

[2019-07-19 17:40] nilium commented on #104
How hard is it going to be to do a dump of the wiki DB and share that?

[2019-07-19 17:41] the-maldridge commented on #104
We can pull a dump of the DB pretty easily.  My original want had been to render out the entire site statically, but the mediawiki folks have informed me that there's no mechanism to do that.

[2019-07-19 17:44] nilium commented on #104
Yeah. My goal is mostly to scan the dump for anything that's worth bringing over, since navigating the wiki's not very easy (at least for me), whereas grepping a dump is pretty simple.

[2019-07-19 17:45] the-maldridge commented on #104
Ok, lets wait to go R/O and then we'll pull a dump.

[2019-07-23 01:23] bobertlo commented on #104
I've been off doing other stuff but I'll keep an eye on this!

[2019-08-13 17:39] codingHahn opened #106 "Xorg > Input Drivers"
In this section the table looks borked. I don't know what causes it, maybe because the table has only one column?

[2019-08-13 17:47] Duncaen commented on #106
Updated the mdBook version on the server and rebuild it, looks fine now.

[2019-08-13 17:47] #106 closed

[2019-08-13 18:14] codingHahn commented on #106
Thanks for the quick resolution.

[2019-08-25 08:05] lugubris commented on #104
We can also archive the page under Internet Archive before shutting down the wiki server. If you could generate a sitemap then there is a tool to do this automatically.

-> https://github.com/agude/wayback-machine-archiver

[2019-09-07 07:21] flexibeast commented on #104
i'd like to suggest that, before the wiki is shut down, Sitenotice (or `$wgSiteNotice`) is set to let wiki users know that the wiki is now deprecated, and that they should use https://docs.voidlinux.org/ instead. There have been comments on r/voidlinux that suggest to me that maybe a number of people still aren't aware of this ....

[2019-09-07 09:42] lugubris opened #116 "Applications section in docs"
Will there be an applications section? For example docs for getmail, mpv and other applications?

Something like -> https://wiki.voidlinux.org/Applications

[2019-09-07 16:33] HadetTheUndying commented on #116
I'd be willing to contribute a lot to this but the console output on a lot of programs that require additional manual configuration is mostly adequate. Maybe we need to look and see what needs additional documentation though. Steam is definitely something that comes to mind, though it does have console output about multilib.

[2019-09-08 01:17] Wychmire commented on #116
Having an applications section would provide a section for things like Steam and Lutris's dependencies, which is one of a few things keeping me from skipping the wiki entirely.

I do think that anything that'd be included in the docs should available in the repos, vs the wiki having several entries that are only flatpaked (flatpak'd? flatpaks?).

[2019-09-09 20:23] bobertlo commented on #116
IMO an applications section with a list of general Linux applications, as well as information on how to use those applications (not specific to Void Linux) is outside the scope of this project.

That said, I do think things like a list of common dependencies for Steam are a reasonable inclusion somewhere in the docs, but others had different views on that last time it came up. I don't see a need f

[2019-09-10 01:02] Wychmire commented on #116
Maybe more of an "Application Issues" section? That way there wouldn't be a need to replicate everything on the Arch Wiki's [Applications page](https://wiki.archlinux.org/index.php/List_of_applications), and there'd be an area for void-specific fixes and dependencies for things like Steam

[2019-09-10 10:13] lugubris commented on #116
Arch Wiki is good but I guess only users of archlinux are expected to be able to edit it because on signup it asks for base32 encode of a pacman command's output, also looks like the activity is a lot less nowadays. Only issue I see with having an applications section is it getting outdated, to solve that we can do what we do with packages - assign maintainers to docs pages.

So say I volunteer to

[2019-10-15 22:49] ralphee commented on #85
As an initial draft layout :

### PRE-INSTALLATION ###

1.0 Verify Signature
1.1 Boot Live Environment
1.2 Shell Choices
1.3 Keyboard Layout
1.4 Verify Boot Mode
1.5 Internet Connection
1.6 Partition Disks
1.6a lvm
1.6b luks
1.6c mdraid
1.6d Example Layouts
1.7 Format Partitions
1.8 Mount File System

### INSTALLATION ###
2.0 Selecting Mirrors
2.1 Install Packages / Templates
2.2 Chroot
2.3 Root /

[2019-10-16 16:04] bobertlo commented on #85
@ralphee : This looks like a reasonable start to me. Some of the things could be in a different order, but that's not something to worry about now.

Quickly looking:

* I don't think shell choices is needed, that is covered elsewhere and not really important in the installation process.
* Some of the things like LVM, luks, raid, example layouts, etc, might be moved into a third section (advanced c

[2019-10-17 15:53] Duncaen opened #121 "Document default groups"
This came  up yesterday in the IRC channel, there are a number of [default groups](https://github.com/void-linux/void-packages/blob/master/srcpkgs/base-files/files/group) that void ships with that are currently not really documented.

I think a section in the docs that describes what each group does would be good to have.

[2019-10-21 01:11] bobertlo opened #122 "runit could use a more general explaination"
@Duncaen mentioned this in irc and I think it is a good idea. Right now we have a short quick usage guide in the header of the `Configuration > Services and Daemons` section. I think a possible layout could be:

[code]

With an explaination of what runit is and why it is used in the heading, but I am very open to discussion on that point. There's probably a third and better solution?

Especially i

[2019-10-21 04:20] bobertlo commented on #122
Now that I look at the docs again, I think a good writeup about runit might be better suited to go in the initial `About` section.

[2019-10-22 14:40] Duncaen opened #123 "Section about date/time and ntp daemons"

[2019-10-24 00:35] flexibeast commented on #122
i can do the 'Runit' subsection of 'Configuration'; i assume the more general writeup about why Void is pro-Runit would be best left for someone on the Void dev team.

[2019-10-24 01:23] flexibeast commented on #122
So should i simply port [the 'Runit' page on the wiki](https://wiki.voidlinux.org/Runit)?

[2019-10-26 14:06] bobertlo commented on #122
I just took a quick look at the wiki page. That seems like a good start. I do generally like the layout of the wiki page more, but some things could be organized better. I'd really like if that information could be split into at least a couple pages. Maybe something like:

- runit
  - Basic Usage
  - Creating/Modifying Services

Or there could be `managing services` and `configuring services`?

Ba

[2019-10-26 14:09] bobertlo commented on #104
I checked and the internet archive coverage looks pretty good. We could crawl it if a webmaster would put up a sitemap.

Is there anything else necessary here? It seems like the move to the docs has gone well, but the wiki is still a good resource to the doc writers. Could we maybe put a banner or something in the header of the wiki saying that it is no longer maintained or updated and point peopl

[2019-10-27 06:03] xtraeme opened #125 "voidlinux.eu refs"
The official documentation still has refs to voidlinux.eu... please fix!

[2019-10-27 07:13] nilium commented on #125
Pretty sure the only reference to it is in the PGP key used to sign image checksums. Unless / until the key is changed, the docs are correct.

[2019-10-27 07:21] nilium commented on #125
As a follow-up, I'm assuming you're referring to this: https://github.com/void-linux/void-docs/blob/master/src/installation/live-images/downloading.md#verify-image-authenticity

If so, this should be an issue reading "the image signing key still uses a voidlinux.eu domain." We could probably file it under enhancements since it's not a bug (as you know, there was very little anyone could do about t

[2019-10-27 15:17] bobertlo commented on #125
I have to agree with @nilium here.

[code]
This could possibly be reopened with infrastructure, but I don't think we should rewrite history. I am closing this here.

[2019-10-27 15:17] #125 closed

[2019-10-30 02:47] flexibeast commented on #122
So the stuff currently on [the "Services and daemons" page of the handbook](https://docs.voidlinux.org/config/services/index.html) would be removed, with that information instead being available via "Basic Usage" and "Creating/Modifying Services" pages under a "runit" (or maybe "runit: services and daemons"?) subsection of the handbook? Into which we could add anything from the wiki not already in

[2019-10-30 03:02] bobertlo commented on #122
Right, that is what I was thinking. `Services and daemons` would stay, but for clarity would be a separate section from runit.

[2019-11-01 20:19] jrigg opened #128 "Base system requirements says EM64T (ie. Intel) CPU required for 64-bit."
Base system requirements doc is either misleading or lacking information. It says EM64T CPU is required for 64-bit, but that's Intel only and implies that AMD CPUs are not supported. This needs clarification.

[2019-11-01 20:56] leahneukirchen commented on #128
I recommend using `x86_64` instead.

[2019-11-03 17:02] Duncaen opened #129 "Document intel-ucode and other firmware packages"

[2019-11-04 23:47] flexibeast commented on #122
With #127 now merged, should this issue be closed, or should it remain open until

has been addressed?

[2019-11-05 00:09] flexibeast commented on #123
i'd like to work on this. i presume this would go in the 'Services and Daemons' section of the Handbook? What sort of information should be included?

[2019-11-05 00:15] flexibeast opened #130 "Add 'Musl' section?"
Might it be useful to port [the Musl page on the wiki](https://wiki.voidlinux.org/Musl) (or at least some of it) across to the Handbook, and mention things like the `gcompat` package?

[2019-11-05 01:13] nilium commented on #123
For NTP daemons, probably just very basic setup of the main NTP daemons (chrony, openntp, and ntpd). Specifically, package names and services to link. Don't think any of them require additional configuration. It wouldn't have to go into detail on more advanced usage, given that both have their own documentation.

Date/time is pretty broad, so I'm assuming the intent is to just cover how to set it,

[2019-11-05 05:40] bobertlo commented on #122
I think #131 should take care of the rest of this.

[2019-11-05 05:40] #122 closed

[2019-11-07 13:45] flexibeast opened #133 "Add documentation for arm/aarch64"
Cf. @Johnnynator's comment on /r/voidlinux [here](https://www.reddit.com/r/voidlinux/comments/dsr2bz/installing_on_aarch64/f6rpyqe/).

[2019-11-12 21:37] kotoko opened #135 "Extend guide about NetworkManager"
Please extend guide about NetworkManager in [docs](https://docs.voidlinux.org/config/network/networkmanager.html) with the info from "Wireless (NetworkManager, no window manager present)" from [wiki](https://wiki.voidlinux.org/Network_Configuration).

* Add info that you need to create file `/etc/polkit-1/rules.d/50-org.freedesktop.NetworkManager.rules`.
* Add info that permission must be at least

[2019-11-25 09:29] flexibeast commented on #123
With the merging of #132, can this now be closed?

[2019-11-25 14:55] Duncaen commented on #123
I feel like we are still missing something about rc.conf `HARDWARECLOCK` and timezones.

[2020-01-20 21:35] rubyFeedback commented on #130
This would be pretty cool. I have been searching for an oldschool veteran *nix distribution and musl in combination with busybox, and perhaps llvm for a small core system would be very interesting to me - so any documentation here is very useful. I did succeed in building/compiling a custom musl-toolchain and it works too, but past this point I am a bit lost, as in ... "what to do next". So I am m

[2020-01-20 21:36] rubyFeedback opened #144 "[Documentation improvement for the installation] Add how much RAM is needed for loading the image into RAM (e. g. if 2 GB is enough or not, what would be recommended)"
From https://docs.voidlinux.org/installation/live-images/guide.html:

"Boot your machine from the install media you created. If you have enough RAM, there is an option on the boot screen to load the entire image into ram, which will take some time but speed up the rest of the install process."

Could it be said how much RAM is needed? I have an old computer with only 2 gigabyte of RAM. Is it worth

[2020-01-22 20:08] bobertlo commented on #130
@rubyFeedback some of those topics seem outside the scope of this documentation. You may want to take a look at alpine linux for a busybox musl system. There are good sources on the musl wiki for examples of other toolchains as well. Also, the void bootstrap toolchain. Linux From Scratch is also a great guide for these off topic ideas. IIRC they now even have a musl based guide?

[2020-02-15 11:59] xtraeme opened #148 "Undocumented /etc/rc.conf"
The void handbook lacks information about `/etc/rc.conf`, `/etc/rc.local` and `/etc/rc.shutdown`.

I assume this is so because english/american keyboards don't need additional tweaks... but it's really important in all other cases.

Please document them properly!

[2020-03-06 08:31] flexibeast commented on #121
i'd like to work on this. Whereabouts in the Handbook should this new section be added?

[2020-03-06 08:41] flexibeast commented on #148
i'd like to work on this. Would you like an overview of the purpose of each of these files, mentioning that `rc.conf` in sourced in stage 1 and stage 3, `rc.local` in stage 2, and `rc.shutdown` in stage 3?

So the description of `rc.conf` should mention setting KEYMAP? Would you like other variables mentioned as well, e.g. FONT?

[2020-03-06 09:11] xtraeme commented on #148
Yes, all variables should be documented.

[2020-03-06 12:04] Duncaen commented on #121
I think "Configuration > Users & Groups" and then maybe a "Default Groups" or just as section in the "Users & Groups" page.
I think it only makes sense to split this into its own page if the "Users & Groups" page would get too long.

I do think we were too eager to split sections like "Repositories" and some other categories into too many sub pages, which really doesn't help readability.

[2020-03-06 12:13] Tcll opened #153 "connman is insecure, please consider removal"
with a quick look at wireshark upon connecting to the internet
connman updates connection stats over HTTP to ipv4.connman.net using GET requests

I'm not sure if this is a local server or what (traffic was only sent when ethernet was connected)
but anything that uses web technology is insecure and prone to WAN hacking

after a bit of research, it appears connman is Intel technology, so yeah, would

[2020-03-06 12:20] xtraeme commented on #153
Saying that connman is spyware seems to be a bit agressive to me.

Are you sure it's doing something malicious? if true, can you provide details?

If you have detailed data I'll take a look at it.

[2020-03-06 12:29] Duncaen commented on #153
This doesn't make it insecure. There is an option to disable this behaviour.

[2020-03-06 12:31] xtraeme commented on #153
pointed out by @Duncaen

https://git.kernel.org/pub/scm/network/connman/connman.git/tree/README#n397

So that it's documented and upstream provides a good explanation and a way to disable it.

If you don't like this option, disable it.

Not an issue.

[2020-03-06 12:31] #153 closed

[2020-03-06 12:35] Tcll commented on #153
well that answered my question I was about to ask, thanks. :+1:

I'm trying to harden my system against WAN attacks, and this took me by surprise.

[2020-03-06 14:13] eli-schwartz commented on #153
Try asking upstream to make this configurable, similar to NetworkManager: https://wiki.archlinux.org/index.php/NetworkManager#Checking_connectivity

It seems reasonable to allow users to specify their own endpoint providing the `X-ConnMan-Status: online` check.

[2020-03-14 05:26] Frick-David opened #161 "Questions: Should all of the wiki be ported to void-docs?"
I am trying to port everything needed from the wiki to the docs over time. Can I get some input on what should be ported first? I am trying to finish up steam, and docker, then will be moving on to whatever else is deemed most important. Is there anything not to port from the wiki?

[2020-03-14 05:32] flexibeast commented on #130
i'm starting work on this.

[2020-03-14 05:57] flexibeast commented on #161
i'd also be interested in knowing this. i've just started working on porting and updating some of the musl stuff (#130), but it would be good to know if there are other particular wiki pages that should be prioritised, or whether wiki porting is actually less important than addressing other [void-docs issues](https://github.com/void-linux/void-docs/issues).

[2020-03-14 08:04] anaggh commented on #161
I feel wiki.voidlinux.org should be shutdown. Irritating to search docs+wiki separately.

From what I can see here https://wiki.voidlinux.org/Special:AllPages there are about 244 pages.

Steps we could follow:
* Make wiki readonly
* Backup the entire wiki (sql+webdir) and archive it.
* Export all the wiki pages to markdown format and move everything to docs.voidlinux.org under `archived`
* Delete

[2020-03-14 08:26] flexibeast commented on #161
@anaggh: Yes, the plan is indeed to shut down the wiki: see #104, which also includes discussion of some of the things you've mentioned. Also, check [the issues section of this repo](https://github.com/void-linux/void-docs/issues/) for both open and closed issues regarding moving wiki content to the Handbook. Finally, in November last year i [submitted a PR for a deprecation notice to be added to

[2020-03-15 03:45] Vaelatern commented on #161
Freezing the wiki would be good, but not all wiki content is worth moving over. Any wiki content that is void-specific should definitely be available on docs.

[2020-03-17 20:02] Frick-David commented on #161
Okay, thanks!

[2020-03-18 13:24] bobertlo commented on #161
Yes, I think the wiki should be shut down, or at least have a banner on the top telling people it is deprecated. We don't have a dump of it that we can redistribute but the content is all covered on archive.org. If there was a sitemap we could crawl it and make sure, but when I checked months ago everything was covered (in a very anecdotal sense of the word everything)

We are still trying to limi

[2020-03-18 13:30] bobertlo commented on #161
https://docs.voidlinux.org/howtoread/index.html

This page has a useful description of the attitude for what we are trying to inlude in the docs. It was more or less agreed to at the time by the people active on the docs.

I also want to mention that it's great to get all the info from the wiki onto PRs for the docs, but there will be an editing process because it looks like a lot of this is comin

[2020-03-19 04:53] fac3plant opened #166 "Add guide on full disk encryption"
Please add a guide explaining how to do Full Disk Encryption. There is [This guide](https://wiki.voidlinux.org/Manual_Install_with_encrypted_boot) and [This guide](https://wiki.voidlinux.org/Full_Disk_Encryption_w/Encrypted_Boot).

It would be nice to be able to explain some Void specific issues with doing this, and to have a recommended way to do Full Disk Encryption.

[2020-03-19 12:34] Duncaen commented on #166
Duplicate of https://github.com/void-linux/void-docs/issues/85.

[2020-03-19 12:34] #166 closed

[2020-03-20 00:20] Frick-David opened #167 "Should there be an applications section?"
I am looking to port this page over from the wiki https://wiki.voidlinux.org/Applications
but I am not sure where to put it. Should there be an applications section?

[2020-03-20 00:51] flexibeast commented on #167
Personally, i don't think there should be an 'Applications' section in the Handbook. There are *many* applications in the repos, with new applications being added (and other applications being removed) on a regular basis, and i don't think it's particularly useful to try to maintain a manual list of such software. If people want to find out what applications are available for a particular purpose

[2020-03-20 13:38] zenny commented on #123
@Duncaen I guess so, too because the time shown is incorrect until ntp servers are used. Even after ntp servers deployed with correct `HARDWARECLOCK` and `TIMEZONE` in rc.conf, the time displayed is 5 minutes ahead of any other atomic clocks (like smartphones)!

[2020-03-20 17:11] bobertlo commented on #167
There has been discussion in the past. People have different opinions on this, but it has been more or less decided that it does not belong in *this* document.

[2020-03-21 04:34] flexibeast commented on #123
@zenny: My understanding is that if the hardware clock has drifted too far from the time reported by time servers, one needs to use something like `ntpdate` to set the hardware time; the ntp servers can then maintain the clock from there.

@Duncaen: If what i wrote above is correct, should this information be added to the Handbook?

[2020-03-21 05:26] andinus commented on #167
Refer to #116

[2020-03-23 13:23] Frick-David commented on #167
Okay, Thanks. Closing Issue!

[2020-03-23 13:23] #167 closed

[2020-03-26 13:59] flexibeast commented on #161
@bobertlo: Further to what you wrote in [this comment above](https://github.com/void-linux/void-docs/issues/161#issuecomment-600620225), are you in a position to be able to merge https://github.com/void-linux/void-wiki/pull/1? At any rate, do you know of any blockers to doing so? i'm happy to try to address any potential blockers ....

[2020-03-26 14:37] bobertlo commented on #161
@flexibeast I am not, but I pinged people who are

[2020-03-28 18:44] bobertlo commented on #148
Closed by #154

[2020-03-28 18:44] #148 closed

[2020-03-28 19:09] bobertlo commented on #121
Closed by #155

[2020-03-28 19:09] #121 closed

[2020-03-28 19:42] bobertlo commented on #129
Can this be closed?

[2020-03-28 19:43] bobertlo commented on #130
closed by #163

[2020-03-28 19:43] #130 closed

[2020-03-28 19:50] bobertlo commented on #128
Closed by cbb131c5d656dc499e7fcd6aca8dd815b2074514

[2020-03-28 19:50] #128 closed

[2020-03-29 10:55] j0ack opened #172 "Invalid sha256 urls"
The doc mentioned that sha256 for images is available at

`http://alpha.de.repo.voidlinux.org/live/current/sha256sums.txt`

But the files are named respectively sha256.txt and sha256.sig now. I don't know if the doc must be updated or the file renamed on the server.

[2020-03-29 13:34] bobertlo commented on #172
IIRC this is happened when new keys were used?

Either way the docs should point to the correct location. If they are decided to move on the servers we can once again change the docs.

[2020-03-29 23:07] #172 closed

[2020-03-31 06:53] ericonr commented on #85
Hey there! The guides for rootfs installation for the ready to boot ARM images are currently located in the wiki, as well (as I mentioned here https://github.com/void-linux/void-linux.github.io/issues/88 ). I'd definitely be interested in trying to write a general guide for the ARM boards (even if my experience is mostly with RaspPis), and then only mention the platform specific stuff, without dup

[2020-03-31 06:56] ericonr commented on #85
@bobertlo what kind of bootloaders are you thinking? At least for rEFInd, it worked exactly the same way it does on Manjaro, so I don't think it requires its own page (unless you wan to document its existence, which is a fair point). Regarding Gummiboot I don't know how much it differs from systemd-boot, so perhaps it requires some documentation. From my experience, at least, the EFI stubs from bo

[2020-03-31 19:33] anaggh commented on #161
There are 204 pages instead of 244 (Others were redirects). I wrote a migration script from html > markdown.

Attached is the markdown output
[wiki-md.zip](https://github.com/void-linux/void-docs/files/4411198/wiki-md.zip)

Source to convert if needed: https://github.com/anaggh/void-wiki-export

[2020-04-01 07:22] MatthiasGrandl commented on #85
@ericonr Maybe a plain EFISTUB boot? This certainly shouldn't be recommended for most users, but if you don't want to boot anything but Void, this is the most minimal approach to booting I know of: https://wiki.archlinux.org/index.php/EFISTUB

[2020-04-02 04:50] bobertlo opened #174 "GNOME setup from base install needs documentation"
Following the wiki, installing gnome and enabling the gdm service does not work. I have been able to figure it out, but not document the process. You definitely need to also install xorg and xinit. Also I think elogind is required?

The main issue is that if you don't have everything right and start gdm it locks up. I have been adding gnome-session to my xinitrc and making sure it works, then gdm

[2020-04-02 05:05] flexibeast opened #175 "'PulseAudio' section: Tell users to add themselves to the 'pulse' group?"
The ['PulseAudio' section of the Handbook](https://docs.voidlinux.org/config/media/pulseaudio.html) states:

The wiki [suggests](https://wiki.voidlinux.org/PulseAudio#Without_a_session_manager) that this means adding the relevant user to the 'audio' group. Is that correct? If so, i'll open a PR to add that information.

[2020-04-02 14:32] bobertlo commented on #175
Yeah, you could just reword this slightly if you want.

[2020-04-02 16:11] ericonr commented on #49
We should at least remove ConsoleKit2 from there, as it seems to have been mostly superseded by elogind, and isn't update anymore. I opened an issue to remove it completely from packages here https://github.com/void-linux/void-packages/issues/20577, if it is I can try and rewrite a bit this one.

@bobertlo What do you think about splitting up session management into its own subject at the same lev

[2020-04-03 00:20] bobertlo commented on #49
@ericonr Definite yes on ConsoleKit2. It's actually removed from the templates repo, just still on the package server.

For moving the page, let's think about that. Maybe we could put that section and xorg under graphics? Or it might fit better in a 'Desktop Environments' section later? I think it would be clearer as a sub section vs just 'Session Management' alone. That's kind of silly reasoning

[2020-04-04 19:42] #175 closed

[2020-04-04 20:14] bobertlo commented on #85
@ericonr I think grub with BIOS and UEFI would be a good start :)

I'm not sure bootloaders need much void specific setup otherwise. I would guess documentation that would be considered useful would be for other platforms like ARM, but I am not saying specifically we would not add anything else.

[2020-04-04 20:22] bobertlo commented on #123
I think with the addition of https://github.com/void-linux/void-docs/pull/154 covers the last issue.

I just saw that these are duplicated between `Date & Time` and `rc files`, but that is a separate issue. I'm closing this.

[2020-04-04 20:22] #123 closed

[2020-04-05 07:27] flexibeast commented on #174
That's my understanding. From [the elogind README](https://github.com/elogind/elogind/blob/master/README.md):

[2020-04-05 18:32] bobertlo commented on #174
Yeah, I'll have to start up some VMs to debug this. Because it seems like just starting dbus and then starting elogind is not enough and you need to reboot? This is pretty important information for anyone who wishes to run GNOME from a manual or base install. :)

[2020-04-06 02:29] ericonr commented on #49
@bobertlo yeah, I noticed the removal. Seems there's a fix on the way to remove the actual package.

I get what you mean. Perhaps Session Management would fit better under Desktop Environments (in the sense that DEs are the way one interacts with their system). Then Xorg and Wayland could go under DE as well, being the ways a system can present a DE. Then perhaps Graphics could be under that as we

[2020-04-06 03:30] jeffayle commented on #85
It's been a while since anyone has said they're working on this, so I'll add my name to that list.

Here is my work in progress: https://gist.github.com/jeffayle/e8d5565301b549383678f747f3540d8a

notes:

- I relied heavily on a handful of guides from the wiki. I'd like to make sure the original authors are credited somewhere
- it is written in markdown but has not been put through the void-doc for

[2020-04-06 18:41] bobertlo commented on #85
RE: UEFI/BIOS. I think UEFI would be the item belonging in its own supplement if that was found necessary. I really don't think it's that confusing. In the end the only thing we can't do is duplicate the entire guide just for the small difference in partitioning and required mounting of that extra partition.

A lot of the bootloader and partitioning issues are covered in the main guide also. I won

[2020-04-06 18:58] bobertlo commented on #85
@jeffayle it would be good to think of this as a collection of guides, vs a monolithic document. I would encourage you to open a pull request if you would like to pursue a guide and recieve feedback, but please consider choosing a tight scope like chroot install, or a partitioning guide.

I really think we would be better off doing this in small pieces, and de duplicate other sections as we go. Mo

[2020-04-06 20:48] jeffayle commented on #85
@bobertlo do you disagree with the style of basic chroot install guide + supplements? My intention wasn't to create a monolithic guide, although I do see how I may have presented what I've written so far as a monolithic document.

Right now, I think what makes most sense for me to do is to strip out all my "advanced" sections and get the problems with the basic chroot guide ironed out so that we h

[2020-04-07 01:59] bobertlo commented on #85
@jeffayle Okay nope i don't disagree. I didn't peruse your gist, just skimmed it.

Yes, I think the best start is a chroot install guide. I think it would be smart to give a lighter treatment to partitioning and UEFI bootloader than we might otherwise, to anticipate other sections. I would really like an explaination of bootstrapping through xbps and then a simple recipe to getting a bootable syst

[2020-04-07 20:26] Chocimier commented on #116
Void specifics could be documented and installed with package. https://github.com/void-linux/void-packages/pull/20735

Then docs could have single section pointing to /usr/share/doc/${pkgname}/README.voidlinux .

[2020-04-08 03:10] flexibeast opened #178 "Remove "WEP configuration" from wpa_supplicant section?"
Is there any reason not to remove the "WEP configuration" subsection? As far as i'm aware, WEP is way past deprecated.

[2020-04-08 04:13] Vaelatern commented on #178
And yet still used in random places. Python 2 is way past deprecated too.

[2020-04-08 06:38] flexibeast commented on #178
Okay, fair enough. So can the section be reworked to first provide information about the WPA case, which i assume is the more common case?

[2020-04-08 16:04] Vaelatern commented on #178
That sounds reasonable.

[2020-04-09 05:13] bobertlo commented on #178
I generally just try not to touch valid information about things I don't use, but reorganizing this sounds reasonable to me.

[2020-04-09 05:18] bobertlo commented on #161
Okay, I think this issue has been resolved. Thanks @anaggh

[2020-04-09 05:18] #161 closed

[2020-04-09 06:20] flexibeast commented on #174
Agreed. :-)

i've just created some VMs to help work on these sorts of issues. In this particular case, we're trying to work out all the steps necessary to get GNOME working?

[2020-04-09 07:05] flexibeast commented on #178
https://github.com/void-linux/void-docs/pull/180

[2020-04-09 22:03] bobertlo commented on #174
Great!

Right. Specifically from a fresh install. I'm thinking a reboot after the set of necessary services is sufficient, but haven't had time to check.

[2020-04-11 00:32] nicklaf opened #186 "Troubleshooting update errors"
We have a section on [updating](https://docs.voidlinux.org/xbps/updating.html) Void, but no discussion on how to troubleshoot common error messages when the update fails.

For example, removing orphans with `xbps-remove -o` sometimes resolves the "unresolvable shlibs" error that occurs when attempting `xbps-install -Su`.

The old wiki has some [discussion](https://wiki.voidlinux.org/Frequently_Ask

[2020-04-11 04:28] bobertlo commented on #186
I think the `xbps-remove -o` case could be mentioned at the same time as importing the same error caused by the build server staging.

[2020-04-11 11:32] flexibeast commented on #178
https://github.com/void-linux/void-docs/commit/dbe35e64fc5fd3711678b70f794805d0a7af3e12

[2020-04-11 11:32] #178 closed

[2020-04-12 09:22] ericonr opened #188 "Make a section for "external applications""
After somewhat lengthy discussion on IRC, I'd like to record it here. The proposal is to try and make a single section (possibly even a single page) as reference for all applications that aren't installed via xbps.

This page would:

* Be "probably in the installing section, near the existing documentation for nonfree" and "with a paragraph explaining the distinction between nonfree, non-distribut

[2020-04-12 22:32] bobertlo commented on #188
It seems like this is the intention of this post, but for clarity I will state again that we are interested in a single page explaining common third party application general handling procedures, i.e. using flatpak, and we are not interested in a "section" for long pages covering each application. (i.e. steam #159)

[2020-04-13 14:01] ericonr opened #190 "Is a consistent style desired? Should documentation be more terse?"
So, usually package installation is presented as the whole `xbps-install` command, but something that the Arch wiki actually does right IMHO is just list the packages that people have to install and hyperlink the word "install" to the guide about installing packages. That feels more concise, at least to me.

This also goes for enabling services. There are instructions for enabling dbus, for exampl

[2020-04-13 14:13] bobertlo commented on #190
I thought this was explicitly stated somewhere. Yes, we are specifically trying to avoid command listings like you mentioned.

[2020-04-13 14:18] ericonr commented on #190
All right, I will get to it when I have the time :D

[2020-04-13 20:48] ericonr commented on #144
So, booting the x86_64-musl live image with XFCE:

[code]

Memory: total 7.7Gi, used 201Mi, free 5.7Gi, shared 619Mi, buff/cache 1.2Gi, available 6.6Gi.

So it seems to be using at least 2Gi, and I'd need some extra to run xbps-install stuff (perhaps). Perhaps this image is too big to run from RAM in a system with only 2GB of RAM.

It is running from RAM completely, I have removed the pen drive (g

[2020-04-13 21:19] ericonr commented on #144
@bobertlo do you think this kind of information could fit somewhere? I can download all live versions of void, boot them and see what the memory requirements are. If we can define some standard for reporting this info, I can try to update the current requirements page (I think).

[2020-04-13 23:30] flexibeast commented on #190
Yes, this is mentioned in [the Handbook Style Guide](https://docs.voidlinux.org/contributing/void-docs/style-guide.html):

[2020-04-14 03:25] bobertlo commented on #190
The idea is to provide information and avoid magic commands. In the case of `xbps-install foo` it's more just redundant, but the wiki is full of copy and paste guides and we're generally trying to avoid that. There is even a lot of content that made it into the docs that could be rewritten from 'howto guide' style to English, IMO.

[2020-04-14 03:46] ericonr commented on #190
Do you have examples? Both as a list of pages that still need to be corrected but also as guidelines.

[2020-04-14 03:49] bobertlo commented on #144
So, the installation software is very light. I would imagine 2GB would be okay. 1GB would probably have issues. There are a couple small services running and xbps, then some other system commands.

To be honest, I'm not sure how helpful more detailed information would be would be. Most users should know in their heart if they have enough RAM or not.

Beyond that, I really don't think a comparison

[2020-04-14 03:56] bobertlo commented on #190
The Full Disk Encryption guide, for example, has parts that could use more explanation and less blocks of command line. I merged that because it was sitting for over a year and is a hot topic. I think this can wait until after the chroot guide is hammered out.

Peeking around, we seem to have done a decent job of other pages, but the pages were not as well written originally. It is more of an ongo

[2020-04-14 03:59] flexibeast commented on #190
@ericonr: You might find several of my recent PRs, such as [this](https://github.com/void-linux/void-docs/pull/179) and [this](https://github.com/void-linux/void-docs/pull/180), useful as a source of 'before' and 'after' examples.

[2020-04-14 04:02] bobertlo commented on #116
#188 has more discussion related to this. We have repeatedly discussed the scope of the documentation, and how it does not cover general use of other applications. The ideas proposed in that issue should be sufficient, given the stated goals of this project.

I am going to close this now. Any discussion of @Chocimier s idea can happen in that PR.

[2020-04-14 04:02] #116 closed

[2020-04-14 04:34] flexibeast commented on #190
@ericonr: More generally, i've been modifying the style of various pages as i work on them for other reasons (e.g. adding or clarifying information); but i also feel the style should be consistent throughout the Handbook, so if you're up to doing a "style sweep" of all pages, that would be appreciated. :-)

[2020-04-18 07:04] ericonr commented on #190
I might take on that endeavor.

[2020-04-20 03:06] bobertlo opened #201 "Document non obvious package management mechanisms"
You can create a virtualpkg to install a different version of the kernel without breaking dependencies. There should be a cannonical method documented for this.

`virtualpkg=linux:linux5.6` in `/etc/xbps/newerkernel.conf?

[2020-04-20 22:47] ericonr commented on #144
I agree.

https://docs.voidlinux.org/installation/base-requirements.html so, do you think anything here needs to be updated? Otherwise I believe we could close this issue. I can see the case for documenting the requirements for *just* the XFCE i686 image, as an aid for users with underpowered hardware and who aren't really savvy in an environment without a GUI. Not sure if that would fit inside th

[2020-04-21 02:24] bobertlo commented on #144
I'm thinking we can close this too. The issue is regarding the RAM mechanism in the live images, not the installed system.

I'd be careful about what we document on the requirements for running systems (as far as maintainability) but some numbers would be good. I'm not sure where/when the current numbers listed came from.

[2020-04-21 02:24] #144 closed

[2020-04-21 07:40] ericonr commented on #49
@nilium @bobertlo do you think we can close this one?

[2020-04-21 14:19] ericonr commented on #49
We didn't get into polkit either... And I realized I didn't mention that `dbus` needs to be active for elogind [here](https://docs.voidlinux.org/config/graphical-session/session-management.html). We should probably include that, right?

[2020-04-22 01:19] anjandev opened #208 "PCI passthrough guide"
I setup PCI passthrough on voidlinux by using various r/voidlinux reddit posts. I would like to formally document the process.

- [ ] Installing required packages
- [ ] Document isolating video card for pci passthrough (dracut and grub)
- [ ] Loading amd/intel iommu
- [ ] Document configuring virt-manager

Extra:
- [ ] Configuring [scream](https://github.com/void-linux/void-packages/pull/20540) fo

[2020-04-22 01:40] HadetTheUndying commented on #208
Yep I'll take a look in the morning.

[2020-04-22 07:46] linuxpotion opened #209 "Too many missing wiki articles"
Articles like GNOME and Plasma, among others, are not available at https://docs.voidlinux.org/

If I can help in any way I will be happy to do so. I ask for help from the community to make the documentation better and more complete in all aspects.

[2020-04-22 11:10] flexibeast commented on #209
As background, please see [this section of the Handbook](https://docs.voidlinux.org/howtoread/index.html), in particular the first two paragraphs. That said, there is currently a WIP PR re. [setting up GNOME](https://github.com/void-linux/void-docs/issues/174); i don't know if there needs to be something similar for KDE/Plasma. @bobertlo?

Keeping in mind the Handbook section i linked to above, co

[2020-04-22 17:15] bobertlo commented on #209
I think testing for KDE and especially seeing if there are duplicate steps would be useful. I'm buried in work right now but do want to get gnome figured out.

[2020-04-22 17:29] ericonr commented on #209
Regarding DE setup, do you guys think it should include display manager set up as well?

[2020-04-22 17:42] ericonr commented on #200
Isn't this one solved already? @Anachron

[2020-04-23 00:31] bobertlo commented on #209
I'm not an expert but I think most DEs these days roll their own session. If there appears to be a lot of overlap I think it would be appropriate to cover those topics independently of each DE.

[2020-04-23 03:15] flexibeast commented on #174
Okay, working on creating a GNOME section based on the wiki page.

[2020-04-23 17:06] ericonr opened #214 "Make a void-docs package"
This is a bit ambitious and requires some discussion on the best way to proceed, but having a `void-docs` package available could be interesting for having access to offline documentation (without having to clone a git repo) and, more importantly, for including in the live images.

What we'd have to decide:

* How to package? Package all markdown files or convert them into some other format? Would

[2020-04-23 19:06] Vaelatern commented on #214
Oh this is a cool idea. I like it.

[2020-04-24 03:13] anjandev commented on #208
@bobertlo is this appropriate for the handbook?

[2020-04-25 19:59] ericonr opened #216 "Docs webiste contains old versions of pages"
Accessing the docs normally works great, but for some reason the "Maintenance" page still exists and is accessible. It even has its own outdated index.

https://docs.voidlinux.org/maintenance/index.html

https://docs.voidlinux.org/maintenance/repositories/mirrors/list.html -> this page has the added issue of showing outdated mirrors. Could be related to #200

[2020-04-26 00:21] #216 closed

[2020-04-26 04:43] the-maldridge commented on #200
I think this was stuck as a part of a bug in the site updater script.  The obsolete pages have been expunged from the server.

[2020-04-26 04:43] #200 closed

[2020-04-26 09:57] yjp20 opened #218 "youngjin.io/voidlinux no longer maintained"
For various reasons, I am no longer able to maintain a mirror in South Korea

[2020-04-27 10:54] Duncaen commented on #218
Thank you for providing and maintaining a mirror in the past.

The mirror was been removed from the source and will be gone from docs.voidlinux.org within the next 10 minutes.

[2020-04-27 10:54] #218 closed

[2020-04-28 04:27] #190 closed

[2020-04-28 06:23] bobertlo commented on #208
@anjandev I think this is an appropriate topic for the handbook personally. I would like to keep the content concise and specific to void. I don't have time to peruse the PR but it looks like things are being reviewed in the right direction.

[2020-04-28 23:46] HadetTheUndying commented on #208
The big thing i can think of is working on figuring out why LookingGlass isn't properly building on Void right now, since otherwise this will require a KVM Switch or separate, keyboard, mouse and monitor. I could working packaging LookingGlass this weekend if anyone can confirm they can get it to build.

Other than that it looks like the review is going well. We're also still waiting on qemu to be

[2020-04-30 02:02] flexibeast commented on #135
Hmm, my initial thought on this is that, whilst the third point should certainly be included in the docs, the first and second points should be addressed in the `NetworkManager` package, rather than having the docs describe a workaround. @bobertlo, @ericonr, thoughts?

[2020-04-30 11:40] travankor commented on #214
Good old texinfo, anyone? /s

This might be interesting https://github.com/zigalenarcic/mangl

[2020-05-01 08:59] kotoko commented on #135
Wiki seems to down to me. Just to avoid confusion this is the content of file `50-org.freedesktop.NetworkManager.rules` that was on the wiki earlier:
[code]

[2020-05-02 21:29] bobertlo commented on #214
I think this would be a good place to discuss tagging re: https://github.com/void-linux/void-packages/pull/21453

I'm fine with adding a tag right now. Or later. Open to suggestions on the format of said tag. My first thoughts would just be a simple 2020-XX-XX. Downstream package templates can do whatever they want as far as leaving room for actual versioned releases if that is decided.

[2020-05-03 00:48] ericonr commented on #135
@kotoko no worries, the wiki came back :D

@flexibeast polkit rules are definitely packaging issues. And it seems the package already contains at least a `/usr/share/polkit-1/actions/` file. I think this should be an issue over at void-packages instead.

[2020-05-03 04:00] flexibeast commented on #135
i've merged https://github.com/void-linux/void-docs/pull/221 about NM users needing to be part of the `network` group, and have opened https://github.com/void-linux/void-packages/issues/21578 re. the polkit rules.

[2020-05-03 06:22] ericonr opened #232 "asc file refered to in downloads doesn't exist"
https://docs.voidlinux.org/installation/live-images/downloading.html#verify-image-authenticity links to the Void GPG key, which errors out with 404 right now (https://alpha.de.repo.voidlinux.org/live/current/void_images.asc). We should probably reword this part.

@the-maldridge I'm not sure how to explain this one. Should I just remove the mention about it being possible to download the asc file f

[2020-05-03 07:00] the-maldridge commented on #232
Probably best to just remove it.  New images are signed with signify, and the key is long expired for that GPG key pair.

[2020-05-03 18:48] ericonr commented on #232
From https://voidlinux.org/download/ :

We should reword this one, too. And I'm wondering if moving all the verification to the docs would be better.

[2020-05-04 05:42] flexibeast opened #235 "Provide overview of XBPS components on "General Package Management" page"
As suggested in https://github.com/void-linux/void-docs/pull/225#issuecomment-623048022.

[2020-05-04 05:47] flexibeast commented on #174
Closing via https://github.com/void-linux/void-docs/commit/b2db298502350ed628d2fa7d6dedca9cf75365d2.

[2020-05-04 05:47] #174 closed

[2020-05-05 09:35] wallisers opened #239 "Expand Xorg section to include basic setup of xinit/a display manager"
It would be nice, if the Xorg sections would be expanded to contain the basic setup of a Xsession and how it is hooked up to either `xinit`/`startx` or a display manager. I really had issues with this when I was setting up my first minimalist Linux installation.

I know, that this is highly distro agnostic, but I think of it as an entry point for new users. (A starting point for more detailed rese

[2020-05-05 13:06] flexibeast commented on #135
https://github.com/void-linux/void-packages/issues/21578 has now been closed by https://github.com/void-linux/void-packages/pull/21608, so i'm closing this issue.

[2020-05-05 13:06] #135 closed

[2020-05-05 17:37] ericonr commented on #188
Closed! Thanks @anjandev :D

[2020-05-05 17:37] #188 closed

[2020-05-06 01:30] ericonr commented on #232
Fixed by #233 when it lands

[2020-05-06 01:39] flexibeast opened #243 "Single-page version of Handbook?"
Can/should we provide a single-page version of the Handbook? A user on IRC asked if there was one, and it seems to me that it would make it easier for users to search for particular terms within the Handbook.

Related: the above user noted that it was annoying to go to a page in the Handbook and  find that it contained only a brief overview of the section. In a single-page version, i imagine this

[2020-05-06 03:41] ericonr commented on #243
I kinda really want ToC for all pages, but I see how it could be bad to have it for this specific matter. The blocker for a single page version is mdBook, otherwise most of the links won't work at all. I know there's an experimental backend for epubs, at least.

Anyway, how would we provide it? A download perhaps?

There is a search bar, and it actually worked pretty well for me. Do you know if th

[2020-05-06 03:43] Vaelatern commented on #243
I like single page versions when I want to have all the docs on a slow network connection, or when not connected to any network.

[2020-05-06 04:04] flexibeast commented on #243
@ericonr:

Ah, so mdBook can't output a single-page version? We'd have to script something to munge everything (including links) into a single-page format?

No, i was thinking there would be a link to the single-page version on the landing page.

The user hadn't mentioned searching; it was just something that came to mind when i thought about it. (i hadn't tried the search functionality myself, bu

[2020-05-06 17:02] flexibeast opened #244 "ToCs on pages that introduce subsections"
A number of Handbook pages are simply introduction pages for subsections. Such pages should, after the introductory text, contain a 'table of contents' listing those subsections. For the purposes of having a consistent style, and to possibly facilitate data transformation (e.g. to address #243), the format of such ToCs should be:

    ## Section Contents

    - [section name](path)
    - [section

[2020-05-06 22:22] ericonr opened #245 "Services documentation"
runlevels -> default, current, single

`/etc/runit/runsvdir/current` -> link services when the system isn't running

`runsv` -> testing services

other things as well

http://smarden.org/runit/index.html is a good resource, of course

[2020-05-07 16:47] kuchikuu opened #250 "Handbook translation into different languages"
Greetings,

Current version of Docs is available only in American English.

In my opinion, people that use Void are not new to the Linux world. People that often switch from other distros usually know English in a way that they are comfortable reading manuals.
But there are many people who aren't as experienced, and for some English is a wall they are unable to jump over.

That is why I am submitt

[2020-05-07 16:55] kuchikuu commented on #250
I forgot to mention that it would be required to implement a language change mechanism on the docs website, as there is none since the only available language is American English.

[2020-05-08 00:52] flexibeast commented on #250
Thanks for opening this issue! i'd definitely like the Handbook to be available in multiple languages. Thank you also for registering your willingness to work on a Polish translation. :-)

The Handbook is currently under heavy development - we're regularly adding new content, fixing problems with existing content, and trying to ensure the overall style is consistent. So my feeling is that it might

[2020-05-08 03:43] travankor opened #252 "Manage custom kernels with xbps-src?"
I don't know if this should be added, but I remember a lot of users asking about either the `-libre` or `-zen` custom kernels. Describing how people can maintain their own kernel might be a good idea (or not?).

This might not be wanted since this is just an extended example of using `xbps-src`, but this doesn't really belong in the void-packages repo either.

[2020-05-08 03:50] travankor commented on #250
I can help with Spanish translation and seems like @ericonr can do a Portuguese (BR) translation?

[2020-05-08 12:43] kuchikuu commented on #250
There are (at least) two ways to do the translations:

1) We could start translating now, so that translators wouldn't be overwhelmed by the amount of pages that need to be translated.

The docs, unlike a wiki, can't be heavily "incomplete".

We could translate the most important stuff
(for example: general information about Void Linux, installation details, GUI & core programs) and release it. Th

[2020-05-08 14:37] flexibeast commented on #250
@kuchikuu: Thanks for sharing your thoughts on the issue space!

Something i'd like to note is that all of the people working on Void are volunteers - we're doing this in our spare time, for no pay. At the moment, the senior member of the docs team, @bobertlo, is snowed under by work, and isn't able to spend much time on Void. Further, both @ericonr and myself are spending hours each day on writin

[2020-05-08 14:46] flexibeast commented on #250
Another issue that comes to mind is reviews of PRs for translations. i know only smatterings of languages other than English; certainly not enough to be able to do translation reviews. In some instances members of the Void team might theoretically be able to do pre-merge reviews, but i imagine this won't always be the case ....

[2020-05-08 16:50] ericonr commented on #250
So, regarding logistics!

I took a look at how the Rust Book does it, and they have an [appendix](https://doc.rust-lang.org/stable/book/appendix-06-translation.html) for translations. People open issues in their issue tracker to get permission to translate and inform them of where the book is contained, then they add a link there.

The books aren't hosted in the same infrastructure, it seems, and

[2020-05-08 17:14] Vaelatern commented on #252
We typically do not encourage custom packages, I don't think we want to encourage it either. People who want libre kernels can read void-packages and figure out what to change.

[2020-05-08 20:44] ericonr commented on #252
I also think we shouldn't document it, but I just saw a new post about it on reddit. And well, some people need kernels not for customization, but for stuff like Chromebooks or Surface laptops. So perhaps there are good reasons for them.

[2020-05-08 20:45] Vaelatern commented on #252
There are good reasons, let the documentation be on reddit and not our responsibility?

[2020-05-08 23:23] #232 closed

[2020-05-09 05:12] ericonr commented on #129
@Duncaen can we close this one? Or is there something we still need to include?

[2020-05-09 05:14] ericonr commented on #239
@wallisers have you taken a look at #254? Do you think we need any more information about it?

[2020-05-09 08:33] travankor commented on #250
I'm not a fan of "forking" the repo for translated copies; this will result in fragmentation and in inconsistent quality standards -- these were the reasons why Void moved away from mediawiki.

mdbook's "approach" to i18n is one of the reasons why this is one of the worse options out there imo.

[2020-05-09 08:42] travankor commented on #250
As long as the reference material in English is reviewed, I don't think this will be a problem. While having peer-review is always nice, a commiter can always run the text through a machine translation to at least verify that the translated section isn't completely off there. Correctness fixes can always be merged later on, of course.

[2020-05-09 09:38] flexibeast commented on #250
@travankor:

i agree.

Good point.

[2020-05-09 10:13] travankor opened #261 "Document input methods"
On GNOME this should be out of the box although I have never used GNOME. There are different ways this functions on Wayland vs X iirc. The popular ones are `fcitx` and `ibus`. IIRC, there are different "backends" for some languages.

c.f https://old.reddit.com/r/voidlinux/comments/ger0ju/unable_to_get_ibus_to_work_in_void/

[2020-05-09 10:22] travankor opened #262 "Bootstrapping Guide"
Describe how to bootstrap from source and manage local repositories, etc.

cf.
https://github.com/the-maldridge/xbps-mini-builder
`xbps-fbulk` https://old.reddit.com/r/voidlinux/comments/gf6smw/what_is_the_difference_between_gentoo_and_void/fpvwhed/

[2020-05-09 10:44] travankor commented on #252
Hardware device support might be a more valid use-case that I forgot to mention -- There were plans some time ago to drop device-specific kernels, like `usbarmory` and `kirkwood`.

Unfortunately, 90% of ARM boards require custom vendor kernels (even if they're open-source, the vendors are apparently too lazy to upstream their changes).

Closing this, but I think this can be incorporated into #133

[2020-05-09 10:44] #252 closed

[2020-05-09 14:29] Piraty commented on #250
-1.
I'd say don't waste your efforts on such (in my eyes) irrelevant aspects.

1. Void doesn't target users who want an ubuntu experience and manually handling / fixing issues is expected. This requires reading online docs and man pages which are in English 99% of cases. Therefore I expect Void users to be able to understand the most basic of English (the doc guidelines already require writing sim

[2020-05-09 16:55] kuchikuu commented on #250
@Piraty

Well... To be honest... I can't disagree.

In my opinion, just as I wrote previously, people that reach for Void Linux already (should) know English on a level that reading Void Docs shouldn't be problematic to them.

Perhaps.

I am fully aware of the situation.
And again, I just can't disagree. Your points are very solid.
English is EXPECTED at projects such as Void Linux.

I just though

[2020-05-10 05:15] ericonr commented on #262
God I hate vendors. Do you remember where this discussion happened? Last time kernels were mentioned on IRC the need for specific board kernels was very clear.

Regarding bootstrap: this https://github.com/void-linux/void-packages/issues/21680 probably fits as well. I don't know if this is a guide that should be included here or in void-packages, though. Perhaps here, but it's not a priority, I th

[2020-05-10 05:27] ericonr commented on #261
The solution they found seems to be the way the Arch wiki suggests launching the application, so I'm not sure how necessary it is. I suggested they open a request for the package they need for their prefered method of international input. I'm not sure how much of this fits in the docs.

[2020-05-10 06:26] fosslinux commented on #262
FWIW, I have been bootstrapping (starting from a busybox system) void-packages, so I would be more than happy to help with this.

I haven't been doing much automation, or using xbps-fbulk, yet, though.

[2020-05-10 13:06] Duncaen commented on #129
I think it would be good to make a firmware section and move the microcode stuff into it.
There are a few other firmware packages that are not installed by default and I think because the question in how to get rid of firmware packages installed by default it would make sense to add a paragraph about that and link to `ignorepkg` documentation for xbps.

[2020-05-10 13:15] Duncaen opened #266 "iptables and nftables"
Nftables is currently completely missing.

The current iptables documentation seems low quality imho.

* The section [IP6 firewall rules](https://docs.voidlinux.org/config/network/iptables.html#ip6-firewall-rules) could be merged with "Applying the rules at boot", the `iptables-runit` service works already for both, the snipped for `/etc/rc.local` could do exactly the same.
* [Firewall rules](http

[2020-05-10 13:20] Duncaen opened #267 "musl in configuration section."
* I feel like this is more relevant to the installation section, there is not a single thing that would be related to configuring already installed systems.
* Examples on how to create void linux chroots don't really belong here, I think it would make sense to add a chroot page to the installation section and link from the musl page to it.

[2020-05-10 13:23] Duncaen opened #268 "Post Installation"
The [Post Installation](https://docs.voidlinux.org/config/post-install.html) section contains nothing worthwhile, I think it would make sense to remove this page and add a note to the installation guides to update the system after installing if necessary.
Also not really configuration related, if someone wants to keep a page like this I think even if its "Post Installation", it would still make se

[2020-05-10 14:47] flexibeast commented on #267
There's currently a PR for a chroot installation guide: https://github.com/void-linux/void-docs/pull/177. Once that's finalised, @ericonr is planning to work on further installation-related content that leverages that page.

That PR also has a [discussion](https://github.com/void-linux/void-docs/pull/177#pullrequestreview-403985709) about the appropriate `mount` commands; istr someone saying that

[2020-05-10 15:30] Duncaen commented on #267
I was thinking more about a "How to setup Void Linux container/chroot rootfs", which I think is useful and quite different from installing void linux on bare metal using a chroot.

[2020-05-10 22:26] ericonr commented on #266
The only firewall I've ever used was ufw, so I don't think I'm qualified to write about them. I can do some research, however, if no one manages to write this one.

The stylistic part I can do, but if anyone wants to claim it, I'd be happy to help them!

[2020-05-10 22:28] ericonr commented on #262
@fosslinux that would be awesome! I think we'd have to decide where to put said information first, of course.

[2020-05-11 01:30] ericonr commented on #262
From IRC, as reference:

[code]

[2020-05-11 02:10] ericonr commented on #85
Just for safe keeping, some guides about Void:

- https://github.com/zdykstra/zfsbootmenu/blob/master/void-install.md
- https://docs.miratengointernet.com/voidfde/

[2020-05-11 03:49] flexibeast commented on #209
@linuxpotion: Once https://github.com/void-linux/void-docs/pull/237, which adds a "KDE" section, is finalised, i'm going to close this; but please feel free to open new issues for other pages you think might need to be added (after checking what other things are [already being worked on](https://github.com/void-linux/void-docs/pulls).)

[2020-05-12 05:57] flexibeast opened #276 "Factor out common Xorg info from DE sections"

[2020-05-12 06:27] ericonr commented on #261
Do you have an idea for what you'd put in such a section? I'm pending towards it not fitting here.

[2020-05-12 07:00] travankor commented on #267
Some musl-related things that could be documented:

- gcompat
- utmps (utmp/wtmp for musl)
- libexecinfo (backtraces)
- [musl-locales](https://gitlab.com/rilian-la-te/musl-locales)

[2020-05-12 07:07] flexibeast commented on #268
Closed by https://github.com/void-linux/void-docs/commit/a1469911e6399bfd28b70513a6d5b88e640e50de.

[2020-05-12 07:07] #268 closed

[2020-05-12 07:24] flexibeast commented on #267
@travankor:

* re. `gcompat`, it wasn't included in the current `musl` page due to @q66's comment [here](https://github.com/void-linux/void-docs/pull/163#discussion_r395958344).
* re. `utmps`, it's not currently packaged, but i've starting putting together a package for it, though i've not yet submitted a PR - if i created a WIP PR, would you be able to help with that?

[2020-05-12 09:27] travankor commented on #267
@flexibeast Yes, I can help package utmps. I'm a little busy in the next 2-3 days, though, so maybe wait a few days.

[2020-05-12 09:50] travankor commented on #261
I'm not very knowledgeable in this subject, honestly, so I can't answer. This seemed like an accessibility issue, so I thought it would be worth mentioning. It's mostly useful for languages that use Hanzi (Chinese characters), since there are too many to fit on a keyboard (although any language can be used).

Maybe a list of what Void offers as accesiblity tooling will suffice?

[2020-05-12 11:54] flexibeast commented on #267
@travankor: Thanks! i've just opened a WIP PR, https://github.com/void-linux/void-packages/pull/21869, but certainly no rush, as i've got lots of other things on my plate myself. :-)

[2020-05-13 22:02] jeffayle commented on #243
Here's a very rough ruby script that generates one html page out of the docs: https://gist.github.com/jeffayle/b84d32e9ef5d62c7733f395fa43ec058 It should be run in the root of the docs repository.

Here's sample output: https://gist.githubusercontent.com/jeffayle/6bc97ea1aabf122d0c58cf6b4e1bc579/raw/22a02ff6e74a8bbaeb7975f8cb8bfccfde01edbc/doc.html (which I guess you'll have to save and reopen bec

[2020-05-14 03:29] flexibeast commented on #243
Wow, this is looking great - thank you!

Alternative mdBook backends are passed a [JSON representation](https://rust-lang.github.io/mdBook/for_developers/backends.html). i'm not familiar enough with Rust to make an assessment of [the API](https://docs.rs/mdbook/0.3.7/mdbook/), but i think @ericonr might be.

[2020-05-14 05:21] #244 closed

[2020-05-14 14:02] jeffayle commented on #243
That JSON actually gets us most of the way. It has all the chapters in a tree structure, so we could do something like (pseudo-ruby)

    def render chapter
        return if chapter == nil
        puts "<section id=\"section id\"">"
        puts chapter.to_html
        chapter.sub_items.each { |sub_chapter| render sub_chapter.chapter }
        puts "</section>"
    end

The only other thing that

[2020-05-15 15:01] sgn commented on #261
I'm Vietnamese, using `fcitx` and `fcitx-unikey` (I maintain `fcitx-unikey`)
because it's easier and the IME is more familiar to us, despite Vietnamese script is Latin-based.

I starts `fcitx` with `.xprofile` and export necessary environment variable.

XFCE4 and Mate (and maybe Cinnamon) seems to start `ibus` and `fcitx` automatically.

Pinging @ndgnuh, who is the other Vietnamese and actively ma

[2020-05-16 10:56] flexibeast commented on #49
@ericonr: Yes, i think that page should note that the `dbus` service needs to be enabled.

[2020-05-17 04:15] ericonr commented on #49
@flexibeast #263 documents that requirement c:

I should remove WIP from it, btw.

[2020-05-17 04:19] ericonr commented on #89
@CameronNemo what do you mean by checking if repos are configured? I know I can do `xbps-query -L`, but that's as far as I go.

[2020-05-17 05:12] flexibeast commented on #239
Closing this via https://github.com/void-linux/void-docs/commit/c68e470f3c910e6660a2bb4c0a46c0434aa0ac40.

[2020-05-17 05:12] #239 closed

[2020-05-17 05:17] flexibeast commented on #276
Partially addressed by #254; `gnome.md` and #237 still need to be updated accordingly.

[2020-05-17 05:28] flexibeast commented on #49
@ericonr: Oh yes, sorry! So given what you said about removing 'WIP' from #263, do you think it might be ready for merging?

[2020-05-17 05:33] ericonr commented on #243
There's this backend as well: https://crates.io/crates/mdbook-epub

It doesn't generate reasonable results yet, though.

@jeffayle damn, that's cool! With some CSS it could look really good.

@flexibeast I have very little experience with Rust, unfortunately. Would be interested in learning more, but we'd probaly end up with a whole new backend for mdBook (not a terrible result). Writing just a sm

[2020-05-17 07:23] jeffayle commented on #243
we can use about half of the mdbook plugin api without using rust. if none of us know rust, that's probably the way to go. In book.toml add

    [output.custom]
    command = "whatever command to run"

The command you give gets a big json file with all the contents of the book. You can check out that file by setting command="cat". That command has to render the markdown into html though, which is

[2020-05-17 08:42] jeffayle commented on #85
What are the next steps, once #177 is merged? Is someone working on refactoring fde.md?

I think arm is a pretty big hole in the documentation right now. The download page still points to the wiki because there's nothing in the new manual about arm. I've started putting together some notes on it, but I'd like some feedback on what should go into it and how it should be structured. Unfortunately I

[2020-05-17 10:05] ndgnuh commented on #261
I agree with this, maybe we should provide info such as  which package to install (since  distributions has different naming, not having to looking for package would be nice imo) and maybe some gotchas if there's any?

Yeah, there will be some information overlap. [The manual](https://docs.voidlinux.org/about-handbook/index.html) has also stated something like this:

I don't know if we should take

[2020-05-17 11:58] flexibeast commented on #85
@jeffayle:

Not that i'm aware of; @ericonr, is anyone working on this?

(i'm trying to add GH 'assignees' where possible, so it's clearer who's working on what.)

i agree. The relevant open issue is https://github.com/void-linux/void-docs/issues/133. i actually don't have access to any ARM hardware myself (well, apart from my non-rooted phone :-) ), but if appropriate, i can help test things in a

[2020-05-17 19:19] ericonr commented on #85
@flexibeast  afaik no one is working on those pages yet. I can be assigned to the FDE one, tentatively.

@jeffayle do you have access to any ARM boards? I ran through the installation on my RaspPi Zero, only. The thing with ARM stuff is:

- for SBCs there are images, which are basically PLATFORMFS tarballs unpacked into a pre-partitioned disk; and the PLATFORMFS tarballs, which you can unpack into

[2020-05-17 20:18] jeffayle commented on #85
Platforms that void officially supports, just a Raspberry Pi 3. I have a bunch of odd devices with arm processors, but they're all locked down.

This works and is surprisingly easy to setup. It can be done without proot but it involves [injecting magic numbers into the kernel](https://wiki.gentoo.org/wiki/Embedded_Handbook/General/Compiling_with_qemu_user_chroot). (systemd has some stuff that does

[2020-05-18 02:45] flexibeast opened #284 "Refactor FDE section"

[2020-05-18 02:46] flexibeast commented on #85
@ericonr: Okay, i've just created #284 with you as the assignee. i don't know the details of what needs to be done, so please feel free to describe that there. :-)

[2020-05-18 03:34] flexibeast commented on #276
Now that https://github.com/void-linux/void-docs/pull/283 has been merged and #237 has been updated appropriately, i'm closing this issue.

[2020-05-18 03:34] #276 closed

[2020-05-18 08:56] travankor commented on #262
I think this could be split up into 3 parts:

1) 3-stage bootstrap with `xbps-src`

2) `xbps-src` automation tools/`xbps-fbulk`

3) local repository management (including `xbps-rindex`)

Basically sections 2+3 is similar to managing a source code install. Sections 1 is useful for verifying that the bootstrap tools work as intended and for obtaining a "from scratch" base result.

@ericonr

Around a

[2020-05-18 17:15] #186 closed

[2020-05-18 18:35] jeffayle commented on #284
I think only three sections need to be kept:
- prepare the disks
- configure dracut
- configure grub

This outline will be the same for a number of  root-filesystem-is-on-whatever guides, so it might make sense to have a general overview, and then have more specific pages for things like full disk encryption, zfs, raid or whatever else that tell you the particular commands you need to use.

Or, it

[2020-05-18 20:36] ericonr commented on #284
So the types of guides we can have are:

- One guide for each type of setup, like FDE and ZFS, which points out a part of the chroot guide to follow and then some specific steps to follow,
- One guide for each section of the chroot guide, with the chroot guide including guidance like "to customize this step, look at []"

I'm in favour of the last one, I think, and I'd prefer to refactor FDE to fit

[2020-05-18 21:32] jeffayle commented on #284
I'm in favour of the last one as well. The only issue I can foresee is that some setups (like full disk encryption) require you to do something, then go back to the original guide and come back to do something else later. It won't always be obvious to readers at a future step that they need to look into the advanced section of that step to complete something they'd started earlier.

[2020-05-19 03:12] #235 closed

[2020-05-19 03:31] ericonr commented on #49
@flexibeast after a final review, yes.

[2020-05-19 03:35] ericonr commented on #201
I'm highjacking this issue to include everything related to XBPS that it might not be obvious that the option even exists:

- virtualpkg
- ignorepkg (less useful, this one)
- mention vkpurge (debatable)
- ...

[2020-05-19 03:44] ericonr commented on #261
In that interest, I'm not against a small section with these specifics. I can take a look at where it would fit exactly, but it would be awesome if one of you could do it, since you have experience with them.

We could mention the existence of the tools ("search for packages named `ibus` or `fcitx`, they are available for these languages..." - if the package name + short_desc isn't enough to deter

[2020-05-19 03:57] ericonr commented on #262
Yeah, the usbarmory kernel is pretty bad here https://a-hel-fi.m.voidlinux.org/void-updates/void-updates.txt

Regarding the 3-stage boostrap, what do you think of https://github.com/void-linux/void-packages/blob/91d3a3cafff3ee6ee80ac0ca6a730bc505fd685c/README.md#install-bootstrap ?

I agree that mentioning automation tools somewhere is necessary, though. There's `xbulk` for a quick packaging, `xbp

[2020-05-19 04:04] ericonr commented on #262
[code]

[2020-05-19 04:05] the-maldridge commented on #262
I think there's 3 key parts here as @travankor pointed out above, but I disagree with the grouping.

There is the 3 stage bootstrap from nothing, which should be documented *at length* as that is what will be required if it were ever necessary to recover void from a loss of the mirrors.

From there, tools like fbulk and the mini builder are great for running your own repos.  fbulk generally won't

[2020-05-19 04:12] fosslinux commented on #262
I agree with @the-maldridge . I hadn't thought of the loss of the mirrors scenario, that is a good point.

RE: The newly added docs in Manual.md, they aren't very clear, IMO. I believe that the 3 stage bootstrap should be in a separate section, with numbered steps. I am happy to document that, since I have recently completed it. To me, the bootstrap section sounds very muddled (even if it is sligh

[2020-05-19 04:38] ndgnuh commented on #261
[Upstream](https://github.com/BambooEngine/ibus-bamboo)'s last commit is 19 days ago, so I'd say it's still active.

[2020-05-19 06:06] flexibeast commented on #49
@ericonr: Will #263 close this? If so, the "help wanted" label can be removed.

[2020-05-19 09:29] flexibeast opened #286 "Switch to using reference-style links"
@jeffayle suggested [here](https://github.com/void-linux/void-docs/pull/248#discussion_r425310264) that we use reference-style links in the Handbook when linking to man pages. i like this idea, particularly as we factor out common information and increasingly link to page fragments: if all man page links can simply have the format `[ls(1)]`, we won't have to worry about users being directed to a f

[2020-05-19 15:24] MylesLandais opened #287 "Java Documentaion"
No results found for Java in the docs.

Would like to see the manual install or instructions for a java8 setup copied over.

https://wiki.voidlinux.org/Java#JDK8

[2020-05-19 17:17] flexibeast commented on #287
@void-linux/pkg-committers: Thoughts on this?

[2020-05-19 17:20] jnbr commented on #287
The stuff on the wiki is outdated. I don't think we need to document `xbps-install openjdk`.

[2020-05-19 17:26] ericonr commented on #287
@jnbr I think they mean installation instructions for pulling specific versions from oracle's website. I'm not super into that idea, but I don't use Java so idk what's needed for it.

[2020-05-19 17:27] ericonr commented on #286
I love this idea! Some refactoring would be needed, of course :p

[2020-05-19 17:38] jnbr commented on #287
I wouldn't document this part either, it is not specific to void.

[2020-05-19 17:55] Vaelatern commented on #287
Agreed. `xbps-install oraclejdk` or `xbps-install openjdk` and be done.

[2020-05-19 17:55] #287 closed

[2020-05-19 18:12] jeffayle commented on #286
My recommendation:
- man pages should always use reference style links
- other links should use a reference if the url is too long to be reflowed in a nice way (eg https://github.com/void-linux/void-docs/blame/master/src/config/graphical-session/xorg.md#L40 ) or if the same url is linked in more than one place.
- man pages should use the form `[linkref]` whereas other links should use the form `[l

[2020-05-20 03:51] hippi777 commented on #286
maybe that "spec" link could be included in the docs somewhere around contributing

[2020-05-20 04:00] ericonr commented on #261
So I'd say most docs, if possible, could come from there, and we can work on Void specific stuff here. Possibly (probably) link to the project page as well.

[2020-05-20 04:09] flexibeast commented on #286
@hippi777: Yeah, it would probably be good to reference it from the style guide.

[2020-05-20 04:13] flexibeast commented on #286
@jeffayle: Oh, so we can't just start using reference links without having to modify `vmdfmt` first? i'd been assuming `vmdfmt` could already handle this.

[2020-05-20 04:27] ericonr commented on #284
Yeah, this might make them too fragmented... I might try to write in the two styles and see how it goes. Btw, @abenson do you have any suggestions for this?

[2020-05-20 04:56] flexibeast commented on #286
Upon further thought, even though i can understand why it might be useful to point to the CommonMark spec as a general guide to Markdown, i'm not sure we should actually do so, since we use Versioned Markdown, not CommonMark - i wouldn't want people to assume that they can use anything described by the latter spec. That said, it could certainly be used as a basis for adding reference-style links t

[2020-05-20 05:06] flexibeast opened #290 "Ensure Handbook consistently follows style guide"
As we continue to update [the Handbook style guide](https://docs.voidlinux.org/contributing/void-docs/style-guide.html), existing content needs to be reviewed to ensure that it adheres to style guide standards.

[2020-05-20 12:44] flexibeast commented on #49
@ericonr: With #263 now merged, can this issue be closed?

[2020-05-20 13:56] jeffayle commented on #286
@flexibeast yeah, I assumed vmdfmt would just leave them alone if it hadn't been written to handle it. I might take a look at vmdfmt, but I've never programmed in go before, and don't have a whole lot of experience with parsers

[2020-05-20 16:49] ericonr opened #292 "Add script to check if files were included in SUMMARY.md"
If you miss a file, they aren't included in the generated book at all. I have an issue about it in linkcheck (https://github.com/Michael-F-Bryan/mdbook-linkcheck/issues/32), but it'd be nice to solve it locally, for now. Ideally a simple shell script, just checks that all files in `src/` are linked in `SUMMARY.md`.

[2020-05-21 20:22] jeffayle commented on #284
If it helps, here's a draft of instructions for arm (both platformfs and rootfs/xbps) written in style (1): https://gist.github.com/jeffayle/d09d8baaa4b036a01d69ac63bec279f2

I'm not very happy with it and part of it is just being unedited, but it's hard to write instructions in that way. I can't think of any other way than  "follow the instructions until this step, and then do this instead, then

[2020-05-22 00:36] flexibeast commented on #49
#263 has now been merged, so by ok from @ericonr, i'm closing this.

[2020-05-22 00:36] #49 closed

[2020-05-22 18:48] #292 closed

[2020-05-25 12:31] wallisers commented on #239
This is sufficient.
Sorry for the delayed answer...

[2020-05-26 03:40] ericonr commented on #267
@flexibeast regarding gcompat for musl, I know of at least one case where it works perfectly. The toolchain that `arduino-cli` downloads is linked to glibc but works in a musl system as long as you have gcompat. I recently added it as a dependency, even. Therefore, I believe it might make sense to mention it, because it can work.

[2020-05-26 04:28] flexibeast commented on #267
@ericonr: \*nod\* i'm certainly happy to mention it, myself, but i deferred to @q66 as someone with much more knowledge and experience (particularly with Void) than me .... So basically @q66 is the person you need to convince. :-)

[2020-05-26 04:44] flexibeast commented on #267
Also, what do @void-linux/pkg-committers think of packaging `musl-locales` and referencing it in the Handbook?

[2020-05-26 12:23] flexibeast opened #303 "Xorg section should describe modesetting vs DDX"
As suggested by @st3r4g in [this comment](https://github.com/void-linux/void-docs/pull/297#discussion_r430277148):

[2020-05-26 13:27] st3r4g commented on #303
I'll open a PR for this

[2020-05-27 02:04] ericonr commented on #284
I don't think we need to go into as much detail as Arch or Gentoo. If you're interested in trying more advanced stuff, most of it is transferrable to Void, we mostly need to add the Void specific bits and instructions for a basic install.

I also like your initial guide. I feel like we should attempt to link to something for the "platform documentation" or even have a table for the platforms Void

[2020-05-29 07:17] st3r4g opened #310 "Missing AMD graphics section"
- explain `xf86-video-ati` vs `xf86-video-amdgpu`

[2020-05-30 00:03] #303 closed

[2020-05-30 18:58] ericonr commented on #310
Do you think this could fit under Xorg? Don't want to add another page.

[2020-05-30 19:19] st3r4g commented on #310
My idea for the graphics docs (when I added the sections for Intel and NVIDIA Optimus) was to organize things by hardware configuration rather than topic. So it makes sense to me to have sections for all 3 big vendors (AMD currently missing). I believe there are other things worth mentioning, from video acceleration to openCL drivers.
If you think it's too obvious stuff or it should be organized i

[2020-05-31 03:48] ericonr commented on #310
Hmm documenting the opencl stuff could be interesting. For intel and nvidia as well (I can do those, I think).

Do we have all the AMD vulkan drivers? Could be interesting to mention them as well.

Regarding splitting into several pages, the thing is that usually the content is small and having to navigate several pages to access all of it can get tiring quick. However, since for graphics a person

[2020-05-31 18:49] sburris0 opened #312 "Add more info for configuring pulseaudio (cgmanager, elogind, etc)"
More details about installing pulseaudio from someone with better understanding of the matter would be greatly appreciated. The old wiki referenced `cgmanager` and `ConsoleKit2`, the latter of which I understand was replaced by `elogind`? I just did a clean install and wasn't sure about the use of `cgmanager`.

Information needed:
1. Services pulseaudio depends on (`cgmanager`(?), `alsa-utils`, ..

[2020-05-31 21:11] ericonr commented on #312
So, in parts:

- `cgmanager` was a dependency of `ConsoleKit2`, and has been removed from voi-packages as well. `elogind` is a replacement for both, at least in the important parts.
- Pulse is documented, I think we are only lacking the `alsa` service. (should be fixed)
- We avoid having commands repeated throughout the documentation, so we document that the service needs to be enabled and one can

[2020-05-31 21:49] sburris0 commented on #312
Is `cgmanager` currently pending deletion? I still see it.
I think just noting that `elogind` mostly replaces `cgmanager` and `ConsoleKit2` would be quite helpful, as the change came as a surprise to me when doing a new install.
That, and mentioning `alsa-utils` as a dependency would be sufficient.

I thought `polkit` and `ConsoleKit2` were related somehow for some reason, it isn't relevant here.

[2020-05-31 21:54] ericonr commented on #312
It is pending deletion, yes.

That's fair, I think. Since the main component there was ConsoleKit2, would you be ok with only it being mentioned? Since `cgmanager` was mostly a "helper" for CK2, from what I understand.

Glad to help c:

[2020-05-31 21:57] sburris0 commented on #312
I don't know much about the two, so my judgement isn't very good here, but I think `cgmanager` is worth a short mention because it's still a change from the previous setup and what is stated on the deprecated wiki page.

[2020-06-01 00:21] flexibeast commented on #312
i'm not sure there's any need for further information (though there does need to be a correction):

* Pulse doesn't depend on the `alsa` service, nor on `elogind` (i don't use either). However, `elogind` is already mentioned:

* Pulse doesn't require the installation of `alsa-utils`, as far as i'm aware.

* The `alsa` service merely restores previous ALSA settings:

[code]
* The `alsa` service is

[2020-06-01 05:17] flexibeast commented on #310
Fwiw, i tend to agree with @st3r4g here: individual pages for the "big three" makes sense to me, particularly if there's information that's not Xorg specific, but could apply to e.g. Wayland compositors as well (is there?). We certainly want to avoid tiny pages as much as we can (there are already a number that could perhaps be consolidated into larger pages), but i think we should also try to avo

[2020-06-01 06:15] flexibeast opened #316 "Document how to disable bitmap fonts"
As per @abenson's comment [here](https://github.com/void-linux/void-packages/issues/22477#issuecomment-636532354):

[2020-06-01 18:20] ericonr commented on #316
I hate that man pages don't seem to document that sort of procedure at all. I think we'd have to list the steps.

[2020-06-02 13:50] jeffayle commented on #284
Yeah, linking to documentation for each platform we have binaries for is a good idea. I think that's where most of the arm documentation should come from. I can chroot into an armv6l installation on my rpi 3. I suspect the incompatibility is with the SoC or boot rom, not the processor ISA.

[2020-06-08 07:24] flexibeast opened #323 "Move Void-specific styling to book.css"
Currently Void-specific styling is done in `general.css` (cf. e.g. #295 and #298). To avoid this styling potentially being clobbered by an mdBook update, it should be moved to a (currently non-existent) `book.css` file.

[2020-06-08 07:53] flexibeast opened #324 "Use bolding only for warnings?"
As discussed at #297 (e.g. [this comment](https://github.com/void-linux/void-docs/pull/297#issuecomment-634371503) by @ericonr), i think it would be good to draw readers' attention to warnings via bolding. However, to ensure a consistent meaning for bolding, i think it should perhaps only be used in such cases, rather than to e.g. introduce terms, as in #177, where emphasis via `*term*` could be u

[2020-06-08 17:16] #245 closed

[2020-06-08 17:19] ericonr commented on #324
IMO it's okay to have bolding used for both.

"**Warning**: the **runsvdir** needs..." doesn't look too strange.

[2020-06-09 02:42] flexibeast commented on #324
Well, my concern is not about how it looks, *per se*; it's about the semantics implied by particular styling. i think different semantics ("important information!!1!" vs. "introducing a new term") should have different styling, and making such a distinction could make it easier to automate changes in the future. (For example, if we later decided to use a different presentation for warnings, a sear

[2020-06-12 06:08] flexibeast commented on #312
The last point in my previous comment has now been addressed by https://github.com/void-linux/void-docs/commit/be10ec115250cf2502ed0eb1d8f793e43a1f0fdd, so i'm closing this.

[2020-06-12 06:08] #312 closed

[2020-06-12 06:49] ericonr opened #326 "One more tier for mirros?"
I have been warned that https://mirror.aarnet.edu.au/pub/voidlinux/ is a bit out of date, which can be seen by their `current/` folder, which hasn't been updated since 2018. They do provide hosting for docs, images, xbps-static and xlocate database, which are still very useful. Should we make a note about this, create another tier of mirrors or perhaps another column in the table with observations

[2020-06-12 08:39] flexibeast opened #327 "Tracking: wiki content still to be added to the Handbook"
i've now completed a low-hanging-fruit pass of wiki articles to mark articles that i'm confident are either:

* satisfactorily covered by the Handbook; and/or
* clearly out-of-scope for the Handbook (e.g. don't contain any Void-specific information beyond something like `xbps-install <package>`).

i've marked such articles by renaming them to include a trailing dash, to make them visible on the [A

[2020-06-12 08:56] Vaelatern commented on #326
We make no guarantees about 2nd tier mirrors. To further split hairs would just waste time.

[2020-06-12 13:59] ericonr commented on #326
Fair enough. Thanks c:

[2020-06-12 13:59] #326 closed

[2020-06-12 14:03] ericonr commented on #327
Made everything into a checkbox, so we can more easily mark what's already been dealt with. Thanks for looking into this!

[2020-06-12 14:59] flexibeast commented on #327
@ericonr: Great, thanks. :-) We should make sure that nothing gets checked off without a short explanation beside it - i don't want people to have to read through (what will probably end up being) a long comment thread to find an explanation.

[2020-06-13 02:49] flexibeast opened #329 "Move information from Void Web site to Handbook"
As described in https://github.com/void-linux/void-linux.github.io/pull/90, we need to make sure the content in the [usage/runit](https://voidlinux.org/usage/runit/), [usage/XBPS](https://voidlinux.org/usage/xbps/) and [FAQ](https://voidlinux.org/faq/) pages on the Void Web site is instead covered by the Handbook.

- [x] usage/runit
   https://github.com/void-linux/void-linux.github.io/pull/104
-

[2020-06-13 05:28] ericonr commented on #329
Regarding runit:

It mentions all the runit related utilities, but they are already mentioned in runit's man pages, and their function is explained in the relevant sections of the handbook, if needed.

It has an example for how to switch the runsvdir, using

[code]

which I have no idea if it's recommended or not.

[2020-06-13 10:59] flexibeast commented on #209
#237 has been merged, so i'm closing this.

[2020-06-13 10:59] #209 closed

[2020-06-13 11:00] flexibeast commented on #104
Blocked by #327.

[2020-06-13 11:04] flexibeast opened #334 "Upon merge of void-packages #22249, modify "NVIDIAOptimus" section"
As per @st3r4g's request [here](https://github.com/void-linux/void-packages/pull/22249#issuecomment-633256606):

[2020-06-15 19:22] jeffayle commented on #324
I agree that the semantics suck here. Markdown fell behind html on semantics a decade ago. html has a tag that means semantically "this is a new term being introduced" (dfn). There's dozens of new html tags that have no counterpart in markdown that are really useful if you want good semantics.

As an aside though, I want to defend the bolding I used in #177. html-wise, strong is a poor tag to use,

[2020-06-16 05:09] flexibeast commented on #324
@jeffayle: Thanks for explaining the semantics you were intending with the bolding in that case; that makes sense.

My primary concern at this point is some straightforward way to visually mark off warnings from other types of content. Given that simple bolding is being used for other things, how about bold italic, i.e. `***warning***`? We can return to more sophisticated approaches re. semantics

[2020-06-16 07:03] jeffayle commented on #324
Actually, now that I think about it more, warnings and notes are basically the same semantics as what I was explaining before. The word "warning" or "note" is really a heading, it just needs another block level element to hold the whole thing together. markdown has basically one block-level element that would work at all here and it's the one that we decided not to use because of the semantics.

T

[2020-06-16 07:33] flexibeast commented on #324
Well, what i want is to be able to, *in the Markdown*, syntactically distinguish "warnings" from "notes", because i believe they're not always synonymous. i want this to facilitate possible conversion to a different source format in the future if necessary. In that sense, i don't necessarily mind what actual MD we use to indicate this, as long as we're assigning consistent MD syntax to the same se

[2020-06-16 08:34] jeffayle commented on #324
yes, that's exactly what it does. it uses the first child of the blockquote to decide whether it's a warning, a note or a normal blockquote (or you could add any other class).

here's a slight variation that doesn't have the outlining issues: https://jsfiddle.net/g5o3sqfp/

yeah, there's no problem contorting what `>` means in markdown, but it's still outputting `<blockquote>`. we could get rid of

[2020-06-16 09:09] flexibeast commented on #324
Okay, thanks. i like the variation you linked to, and adding those regexes to the build works for me. Thanks for coming up with this solution!

@ericonr: Ok? Any concerns?

[2020-06-17 06:02] flexibeast commented on #327
Please be careful when editing the comment containing the task list! Twice now i've done an update, only to find that GitHub has not only not included the update, it's reverted to a much earlier version. :-/ i couldn't find a way to manually revert to the penultimate revision; if only there were a VCS that allowed that. :-P

[2020-06-17 06:27] flexibeast opened #337 "Ensure relevant content from wiki FAQ page is covered by Handbook"
[Wiki "Frequently Asked Questions" page](https://wiki.voidlinux.org/Frequently_Asked_Questions):

- [x] 1.1 Is Void an Arch Linux fork?
   Void [landing page](https://voidlinux.org) has a "Not a fork" section.
- [x] 1.2 Is there a 'Stable' version of Void?
   #349 (merged)
- [x] 1.3 Void Linux name origin
   #349 (merged)
- [x] 2.1 How should I partition my disk?
   Covered by "Partitioning Notes"

[2020-06-18 04:02] valadaa48 commented on #133
fresh void aarch64 install failed to exit runit/2 stage due to having console=/dev/ttyFIQ0 in kernel command line. Once removed it worked.

https://old.reddit.com/r/voidlinux/comments/dwcste/aarch64_on_rock64_hanging_on_boot/

[2020-06-18 04:55] ericonr commented on #133
From IRC, agrisis was having trouble with the `udevd` service not working, as well as issues in dhcpcd and others. I believe they removed that line to get it to work.

[code]

[2020-06-19 06:58] jeffayle commented on #327
re what #177 covers:

**yes**
- Install Void Linux onto a USB Stick
- Installation on UEFI, via chroot - #177?

**no**
- Installation On UEFI With MDRAID, via chroot - #177?

[2020-06-19 07:36] flexibeast commented on #327
@jeffayle: Thanks, updated.

[2020-06-19 09:21] flexibeast commented on #323
Blocked on #341.

[2020-06-20 01:52] ericonr commented on #214
Hello. I believe we can get back into discussing this.

[2020-06-20 16:10] jeffayle commented on #324
so vmdfmt chokes on inline html. and also on that stuff I was doing with headings. and also on `***`.

[2020-06-21 03:46] flexibeast commented on #324
@jeffayle: Oh.
@ericonr: i'm wondering if maybe `vmdfmt` needs changing? Not sure when @bobertlo will be around again to comment on this, and to possibly make such changes. (Although of course, we could perhaps temporarily use a fork of `vmdfmt` ....)

[2020-06-21 04:07] flexibeast opened #346 "Ensure relevant content from Web site FAQ is covered by Handbook"
Needed to partially address #329.

[Void site FAQ](https://voidlinux.org/faq/):

- [x] Introduction
   Empty section.
- [ ] Installation
   #355
- [x] Downloading
   Section header.
- [x] Live Images
   Empty section.
- [x] Static XBPS binaries
   Covered by "Static XBPS" section.
- [x] Verifying integrity
   Covered by "Downloading Installation Media" section.
- [x] Using the Installer
   Covered

[2020-06-21 04:17] flexibeast commented on #329
Blocked on #346.

[2020-06-22 05:43] ericonr commented on #346
I think default ttys are explained in the service pages now, aren't they?

[2020-06-22 06:04] flexibeast commented on #346
@ericonr: Ah, yes, you're right - sorry for missing that. Task list updated.

[2020-06-22 13:56] flexibeast commented on #346
So the only thing left to address is whether we want to mention

in the Handbook (presumably in the "Installation Guide" section)? My vote is "yes", and that we add links to the specific guides for those things as they're included.

[2020-06-23 03:52] flexibeast opened #350 "Add "Containers and VMs" section to Handbook"
Such a section should mention at least:

* LXC
* Docker
* Podman
* QEMU
* libvirt

and maybe VirtualBox.

[2020-06-23 05:54] flexibeast commented on #329
@ericonr: i think the reference to the `runsvchdir(8)` man page in the "Services and Daemons - runit" section is probably sufficient. More generally, it seems to me the Handbook adequately covers the contents of `usage/runit`; if you agree, i'll open a PR in void-linux/void-linux.github.io to modify the landing page to point to the above Handbook section, and to remove `usage/runit`.

[2020-06-23 09:50] flexibeast commented on #323
#341 merged; unblocking.

[2020-06-23 21:13] Fluffkin commented on #133
Couple of ideas for things to add:

The current default /boot/cmdline.txt setting for elevator is "noop". Changing that to "deadline" may improve apparent performance.

In /boot/config.txt if you set gpu_mem to anything less than 32 (MB), you will get alarming looking VCHI related errors in your boot log. They are apparently harmless, but do mean you are using a cut down version of the firmware.

[2020-06-24 10:56] flexibeast commented on #323
Looking into this further, since the default theme is part of the `mdbook` binary, and is - as far as i can tell - only deployed during `mdbook init`, changes to that theme shouldn't result in `general.css` getting clobbered. So i'm closing this.

[2020-06-24 10:56] #323 closed

[2020-06-26 00:08] st3r4g commented on #334
It was merged. Another little thing, can you also fix NVIDIAOptimus -> NVIDIA Optimus in SUMMARY.md?

[2020-06-26 00:30] flexibeast commented on #334
So something like:

?

Sure, will do.

[2020-06-26 00:37] ericonr commented on #334
About that... https://github.com/rust-lang/mdBook/issues/1218

[2020-06-26 00:37] ericonr commented on #334
@flexibeast I can do this one, unless you've already started on it.

[2020-06-26 00:45] flexibeast commented on #334
@ericonr: No, i hadn't already started; go ahead.

Re. that mdBook issue, ah okay. Related: i had to change the title of the "Installation via chroot" section (to "x86/x86_64" rather than "x86 or x86_64") to make it short enough to - just - fit within the 80-character limit.

[2020-06-26 01:36] flexibeast commented on #337
At this point i'd like some feedback from more senior members of the Void team. The remaining items are:

- [ ] 2.2 The installer sucks, how can I do $SPECIALTHING on installation?
- [ ] 3.4 I installed $PKGNAME and it's not in my $PATH!
- [ ] 5.2 [Why] is tar/Engrampa/XYZ unable to unpack *tar.xz archives?
   Out-of-scope? Unneeded?
- [ ] 5.3 [Why] isn't my gamepad detected by some apps (e.g. sup

[2020-06-26 02:29] flexibeast opened #358 "Ensure relevant content from `usage/xbps/` on Web site is covered by Handbook"
Needed to partially address #329.

[usage/xbps/](https://voidlinux.org/usage/xbps/):

- [x] Introduction
  Covered by "XBPS Package Manager" section of Handbook.
- [x] Repositories
  Covered by "Custom Repositories" section of Handbook.
- [x] Official Repositories
  Covered by "Official Repositories" subsection of Handbook.
- [x] Official Repositories (musl)
   #394 (merged)
- [x] Subrepositories

[2020-06-26 10:13] flexibeast commented on #316
Closed by #351.

[2020-06-26 10:13] #316 closed

[2020-06-26 13:04] travankor commented on #214
This seems [neat](https://k1ss.org/blog/20200625a#4.0). Maybe something like `xdoc` can be added to xtools.

[2020-06-26 15:14] ericonr commented on #214
It does! I would just add it as a command in the `void-docs` package, actually. I guess we would need something like tags/subject lines in each file for this to work? Or perhaps use the page title for it?

[2020-06-28 05:38] #266 closed

[2020-06-28 08:12] #346 closed

[2020-06-29 03:59] #334 closed

[2020-06-29 08:29] flexibeast commented on #329
Blocked on #358.

[2020-06-30 05:15] Frick-David commented on #350
As listed I will cover podman and docker. If desired, I would also like to add a section on kubernetes. Is that agreeable?

[2020-06-30 05:32] flexibeast commented on #350
Mm, i tend to think that Kubernetes is more out-of-scope, given it's not just containerisation, but orchestration as well .... But i'd be interested to know what other Void team members think.

[2020-06-30 05:32] Frick-David commented on #350
I thought that too. Let us see!

[2020-07-01 01:30] flexibeast opened #371 "Upon merge of void-packages #23126, update "TeX Live" section"
As [noted](https://github.com/void-linux/void-packages/pull/23126#issuecomment-652090882) by @fosslinux in https://github.com/void-linux/void-packages/pull/23126:

[2020-07-01 05:50] fosslinux commented on #371
I would be happy to rewrite this section, under guidance from void handbook committers :)

[2020-07-01 15:04] Kratacoa opened #375 "Add information regarding swap(/files) and hibernation in Full Disk Encryption"
As per title: having a swap is a standard and S3 requires more involved configuration than S4.

[2020-07-01 16:59] ericonr commented on #375
What do you mean by S3 and S4? The sleep states?

Are you thinking of a swap volume inside LVM or a separate partition?

[2020-07-01 17:52] ericonr commented on #358
We should add redirects for the usage pages, I think. `voidlinux.org/usage/{runit,xbps}` should lead to the related `docs.voidlinux.org` page.

That way, the links anyone might have bookmarked will keep working, as will the links currently in the #voidlinux channel message (but these last ones should be changed).

[2020-07-01 18:47] Kratacoa commented on #375
Yes, respectively suspend-to-RAM and suspend-to-disk

As far as I know both are feasible; it would be cool if information about BTRFS and ZFS were to stick in too, as an alternative to LVM setups.

[2020-07-02 02:50] flexibeast commented on #358
Certainly. The link to `usage/runit` has already been removed from the landing page, but a redirect could be added at the Web server level - we'd have to ask @the-maldridge about doing that. We can add a redirect for `usage/xbps` once this issue has been closed.

[2020-07-02 02:53] ericonr commented on #358
Do you think adding the usage/runit page back to make it a redirect would be too bad?

[2020-07-02 06:18] flexibeast commented on #358
Yeah, i don't think that's necessary, unless we're sure there are a number of people reporting being affected. An initial search for references to 'voidlinux.org/usage/runit' suggests this probably isn't a significant concern.

[2020-07-02 08:39] anjandev opened #377 "Document screen lock on suspend"
Alot of the screen lock guides on suspend relate to systemd and the guide on the void wiki is wrong. Fortunately someone has written a guide and wrote some scripts to launch slock, i3-lock, etc. when you close the screen. See: https://github.com/bahamas10/zzz-user-hooks

docs: https://www.daveeddy.com/2018/10/01/run-user-scripts-on-suspend-and-wakeup-on-void-linux/

These locking programs are laun

[2020-07-02 09:11] anjandev commented on #377
Honestly these scripts are so useful. Should I package them?

[2020-07-03 19:20] ericonr opened #381 "Create a better name for Package Management page"
Following https://github.com/void-linux/void-docs/pull/368#discussion_r447384874 and @Duncaen's comments on IRC:

[code]

we should look into picking a better and more descriptive name for that section.

[2020-07-04 15:18] ericonr commented on #377
I would prefer packaging them, if possible. You can make the case that they must be installed system wide as well. Would require actual releases, though.

Screenlocking tends to be a concern for more specific setups, since DEs deal with it already, so I'm not entirely sure documenting it fits here. With a package for it, we can mention it, but ideally most documentation for it should come from ups

[2020-07-07 04:36] flexibeast commented on #381
i feel this has been addressed by #384. Ok to close?

[2020-07-07 04:37] ericonr commented on #381
Okdo! Thanks :D

[2020-07-07 04:37] #381 closed

[2020-07-07 08:09] flexibeast commented on #358
The three remaining items are now:

- [ ] Official Repositories (musl)
  Do we want/need to specifically mention the musl URL somewhere, e.g. in the "Downloading installation media" subsection?
- [ ] Changing properties of an installed package
   This information can certainly be found in `xbps-pkgdb(1)` man page, but i think it might be nice to have something like this content in the "Advanced Us

[2020-07-08 22:09] Frick-David opened #392 "documentation Request: documentation on setting up a void packages mirror"
Is there any chance of documentation on how to set up a mirror for helping out with getting people packages via xbps? I was thinking of setting up a virtual server to use with xbps for people in my area.

[2020-07-09 01:49] flexibeast commented on #201
@ericonr: With `ignorepkg` and `virtualpkg` now mentioned in the "Advanced Usage" section, and `vkpurge` mentioned in the "Kernel" section, i'd like to close this. Any objections?

[2020-07-09 02:09] flexibeast commented on #392
My first thought is "no", given that how to mirror something isn't Void-specific information, and there are already existing guides to the process available elsewhere (e.g. [here](https://www.eff.org/keeping-your-site-alive/mirroring-your-site)). @ericonr, thoughts?

[2020-07-09 02:12] ericonr commented on #201
No problem! Closing now.

[2020-07-09 02:12] #201 closed

[2020-07-09 02:19] ericonr commented on #392
I mostly agree. I think we could link to one such guide (EFF <3), as an example. Not sure if it's easy to fit into the current structure.

[2020-07-09 03:37] ericonr commented on #358
I don't remember where exactly we mention that you should add `current` to the mirror URL, but it would be nice to mention `musl` and `aarch64` there as well. Both are different from current.

Which capabilities of xbps-pkgdb would you like to explicitly mention?

I don't see any harm in having rindex there either.

[2020-07-09 03:40] flexibeast commented on #358
\*nod\* Will do.

Definitely 'hold', and possibly 'repolock', as i regularly see people asking questions for which these things are the answer. :-)

Thanks, i'll add it in.

[2020-07-09 09:39] flexibeast commented on #129
#368 merged. Closing.

[2020-07-09 09:39] #129 closed

[2020-07-10 15:09] flexibeast commented on #358
With #394 now merged, this issue can be closed.

[2020-07-10 15:09] #358 closed

[2020-07-10 15:20] flexibeast commented on #329
With #358 now closed, this issue can be closed.

[2020-07-10 15:20] #329 closed

[2020-07-11 06:27] ericonr opened #397 "Add runit-void specific ZFS requirement"
The current runit core service for mounting filesystems only tries to mount ZFS filesystems during boot if `/etc/zfs/zpool.cache` exists. This behavior should be documented in the docs. Should this also be solved in packaging, by providing a script to generate the cache? Or should the documentation include the complete command as well?

pinging @ahesford and @zdykstra

I'm not super keen on the id

[2020-07-11 18:46] ahesford commented on #397
Two things:

1. I don't think `core-services/03-filesystems.sh` does the right thing with respect to ZFS mounts by demanding `/etc/zfs/zpool.cache` exist, but I don't quite know what the right course would be.

2. Given that `/etc/zfs/zpool.cache` is required for now, it definitely should be mentioned in the ZFS docs like #206. Normally, ZFS will update the cache every time a pool is imported. Thi

[2020-07-11 20:33] ericonr commented on #397
Indeed! That check has been there since ZFS was added to `03-filesystems.sh`, and doesn't seem to include any explanations as to why. I can open an issue in the repo to discuss it.

[2020-07-11 20:41] ahesford commented on #397
Please do. Tag zdykstra and me, maybe Vaelatern and others you know have an interest in ZFS. It would be nice to hash out the "right" way to import and mount when `zpool.cache` does not exist.

[2020-07-12 06:45] brihadeesh opened #398 "FDE + EFI installation chapter needs reworking?"
I was going through the [FDE installation guide](https://docs.voidlinux.org/installation/guides/fde.html#full-disk-encryption) and came across some odd-looking bits. This is with regard to the instructions on **EFI systems only**. I've listed them out, mostly for clarification ~~before actually considering whether to suggest edits~~; please correct me if I'm wrong - I'm no pro at this! I think tha

[2020-07-12 06:58] flexibeast commented on #398
Thank you for your contribution!

We currently have an open issue about the need to refactor the FDE guide: #284. i don't have the domain knowledge to assist with this, but @ericonr and @jeffayle might be able to offer their own thoughts.

[2020-07-12 07:17] flexibeast commented on #89
Asking about the second point on IRC, @nilium suggested:

[2020-07-12 11:34] brihadeesh commented on #398
Right, I wasn't too sure whether to add this to that issue but then I'd only just brushed through the checklist there. I'll take a closer look at it when I can and wait for their inputs on this. Thanks!

[2020-07-12 15:21] ericonr commented on #89
So basically point people to the repositories page so they can check the links? Also show an example of an error when arch repodata can't be found in the repository?

[2020-07-13 05:33] flexibeast commented on #89
Yeah, that was my thought. If i change `/usr/share/xbps.d/00-repository-main.conf` to refer to `current/musl` rather than `current`, then do `xbps-install -S`, i get:

    [*] Updating repository `https://alpha.de.repo.voidlinux.org/current/musl/x86_64-repodata' ...
    ERROR: [reposync] failed to fetch file `https://alpha.de.repo.voidlinux.org/current/musl/x86_64-repodata': Not Found

Is that par

[2020-07-13 05:44] ericonr commented on #89
I think with "Not Found" in the end it is. When it's something like DNS we get "Transient error...".

This reminds me, should we document the issues that can be caused by having the wrong system time?

[2020-07-13 06:07] flexibeast commented on #89
Definitely; i can include that in my PR. [This thread](https://old.reddit.com/r/voidlinux/comments/hizldf/void_linux_update_issue/) suggests it results in an "Operation not permitted" error, but i just tried adjusting my local clock to be off by 12 hours, and `xbps-install -S` worked just fine, so i can't confirm which error is actually produced.

[2020-07-13 14:18] flexibeast commented on #89
Closed by #400.

[2020-07-13 14:18] #89 closed

[2020-07-13 14:26] flexibeast commented on #392
Could we perhaps add a subsection to `mirrors/index` saying something like (very roughly):

?

[2020-07-13 14:28] ericonr commented on #392
I like that option.

[2020-07-15 03:50] ericonr commented on #337
All of the out of scope questions look like they are about linux in general and don't apply to Void specifically. I agree with your judgement there.

For 2.2, we already link the advanced guides in `installation/index`. Unless you're asking if we should include all those guides, which might be an important question.

I think 3.4 might fit somewhere, but I'm not entirely sure. Either in a XBPS or t

[2020-07-15 03:51] ericonr commented on #371
Hooray for the texlive packages :D

@fosslinux let me know when you can get started on this

[2020-07-15 04:20] flexibeast commented on #337
@ericonr: Thanks!

i've now checked off the "out-of-scope" items.

Re. advanced guides, i think in terms of this specific GH issue, 2.2 can be checked off, since we're tracking the creation of such guides via #327. Ok?

Re. 3.4, i don't recall people generally seeming to have this problem; more often it's that the binary isn't named what they expect. Is that your experience also? If so, we could m

[2020-07-15 14:36] ericonr commented on #337
Yes, good idea c:

Most of the time it is! I guess we could try to list `xbps-query -f` for more than only executables, so something like "if you can't find the files provided by a package, you can check what files are contained in that package using: ..."

[2020-07-16 01:17] flexibeast commented on #337
Thanks, done.

Good idea. Add to "Finding files and packages" subsection of `xbps/index`?

[2020-07-16 01:56] #392 closed

[2020-07-16 02:04] ericonr commented on #337
I'm not entirely sure on where to add it. But for now that's probably where it fits better, so yeah.

[2020-07-16 02:14] Frick-David commented on #392
Nice!

[2020-07-17 01:45] ericonr commented on #398
@brihadeesh thanks for opening an issue! So, in order:

1. Right before the command you list, we have this note: `Keep in mind this will be `/dev/sda2` on EFI systems.` Do you think we could highlight it more?
2. We could indeed be more explicit here. So something like "If you are using UEFI boot, there will be another partition there". I would also try to find some way of adding a link to the `ls

[2020-07-17 17:27] ericonr commented on #327
Could we try to post about this on reddit and ask for help?

[2020-07-18 04:39] brihadeesh commented on #398
@ericonr thanks for your response! Sorry I didn't get back sooner.

1.

I think this could perhaps be italicised and/or on a separate line or maybe with a bold 'NOTE' tag? I might have missed it the first time around.

2.  Might I suggest that a separate filesystem tree for UEFI systems might be a good idea? And yes, a link to the `lsblk(8)` manpage would be great too.

3. On second thoughts, this

[2020-07-18 04:58] flexibeast commented on #327
i'm preparing a post for /r/voidlinux about recent work on the Handbook, and the post includes a link to this issue.

[2020-07-18 07:10] ericonr commented on #397
Closing when void-runit gets a new release. Thanks @ahesford and @zdykstra!

[2020-07-18 14:46] yyny opened #406 "Poor advice on per-user services"
Setting up `runit` [per-user services](https://docs.voidlinux.org/config/services/user-services.html#per-user-services) is extremely easy compared to other distros, but I find that the Void handbook gives some poor advice.

 1. `chpst -u` is utterly insufficient for user-local services, important environment variables might be set incorrectly, and permissions might be wrong. A better solution:

[c

[2020-07-18 15:39] Duncaen commented on #406
I don't see anything wrong.

1. `chpst` doesn't add a extra process for monitoring/keeping a pam session open for no reason. If you really need a login shell, just use something like `chpst ... sh -l -c 'exec runsvdir ~/service'.
2. Its an example which works, the vsv author just made an arbitrary choice imho there shouldn't be a right location at all, the docs just use an example.
3. I guess this

[2020-07-19 08:28] flexibeast opened #407 "PDF version of Handbook"
Suggested by /u/YouNeverWalkAlone [here](https://www.reddit.com/r/voidlinux/comments/htcroz/void_documentation_progress_report/fyghp6w/).

i'm not sure what the best approach to this would be. Use `pandoc` to export to LaTeX, then use `pdflatex` to produce the PDF?

[2020-07-19 15:48] yyny commented on #406
1. Clearly not "for no reason", since I spent serveral hours debugging why my `runsvdir` services didn't start. Maybe you don't need an entire PAM session, but just `chpst -u` leads to very confusing bugs. A login shell should be the absolute _minimum_. When I read "per-user services", I expect them to start as if I ran them from my user's terminal.
2. I agree with this. The goal of the handbook i

[2020-07-19 17:19] ericonr commented on #407
We'd have to check the results, but now that we have texlive packages that might be a viable solution and we could even include in the package. I believe @abenson has some templates for markdown -> LaTeX stuff we could try to use.

[2020-07-19 23:39] ericonr commented on #398
I wouldn't like to visually pollute the section too much, so we could highlight it more clearly on the start of the guide to help keep it fresh.

I think that's ok. I don't love having this separation, but it might not be obvious for more inexperienced users.

[2020-07-22 01:13] flexibeast commented on #337
Re. 7.1, [this list post](https://groups.google.com/forum/#!msg/voidlinux/05eYK1l0i2I/V2rgUaAmBAAJ) says:

So i'll check off 7.1 and close this issue.

[2020-07-22 01:15] #337 closed

[2020-07-22 12:53] brihadeesh commented on #398
Sorry I couldn't get back earlier. I think this sounds good. This actually is a really well-designed/though-out wiki. Keep up the good work!!

[2020-07-26 01:51] harrisonthorne opened #425 "Elaborate on GPT partition table + BIOS boot"
[Section in question](https://docs.voidlinux.org/installation/live-images/partitions.html#bios-system-notes)

I'm hoping for a little more elaboration on this or a link to an article describing what *specifically* GRUB needs to work (which is, if I understand correctly, a 1MB partition with type `BIOS boot`).

I think this improvement might save some trouble with some users (like me). :)

[2020-07-26 01:53] harrisonthorne commented on #425
[This section](https://docs.voidlinux.org/installation/live-images/guide.html#partition) more or less has the same issue:

[2020-07-26 02:28] ericonr commented on #425
Would you like to make a PR for this? I actively run from GRUB, so I don't know much about it, but I can certainly try to review the info.

[2020-07-26 03:25] harrisonthorne commented on #425
@ericonr Sure thing! I'll get into it when I get the chance. I'll make a reminder for myself.

[2020-07-27 05:27] cinerea0 opened #432 "Request: Clarify what steps need to be taken to enable TRIM on an FDE setup"
It would be nice if the page on Solid State Drives contained a sentence or two stating which steps on that page are necessary to enable TRIM on computers where Void has been installed using the Full Disk Encryption method detailed in the handbook. Currently, this is ambiguous. Should we be doing the steps associated with LVM, LUKS, both, or something else entirely?

[2020-07-27 05:29] ericonr commented on #432
I believe it should be both, but I am not 100% sure.

@abenson probably knows.

[2020-07-27 05:30] ericonr commented on #432
That said, setting on both shouldn't hurt, so doing both and testing should be fine.

[2020-07-27 07:24] #397 closed

[2020-07-28 02:58] flexibeast commented on #407
#416 is now basically ready to be merged, modulo any feedback from @void-linux/pkg-committers. However, some things to follow up in the future:

* The ToC structure follows LaTeX conventions, rather than the Web site conventions. Some code could be added to create a ToC along the lines of the latter.
* Lines with filepaths are currently handled by using `sloppypar` for the entire document, which i

[2020-07-28 03:04] ericonr commented on #407
[handbook.pdf](https://github.com/void-linux/void-docs/files/4985723/handbook.pdf)

If anyone wants to get their hands on it without building

[2020-07-29 02:04] ericonr commented on #334
@flexibeast @st3r4g https://github.com/rust-lang/mdBook/pull/1291 :D

[2020-07-29 07:37] flexibeast commented on #327
@bobertlo: Might you be able to go through the list as it currently stands, and indicate whether any of the unchecked items could be checked off?

[2020-07-30 04:17] bobertlo commented on #327
@flexibeast will do. not tonight but ill keep this in notifications

[2020-07-31 17:04] ericonr commented on #327
Given that the wiki is (temporarily?) down, http://web.archive.org/web/20190228221339/https://wiki.voidlinux.org/Special:AllPages

[2020-08-01 03:57] flexibeast opened #439 "Check status of AU mirrors"
/u/Klappa4Me [reported](https://www.reddit.com/r/voidlinux/comments/i171ee/singapore_mirror_down/fzy6eb2/) on /r/voidlinux that the AU mirrors are very out-of-date. We should check the status of those mirrors with their respective maintainers.

[2020-08-01 04:14] bobertlo commented on #407
I am not posting these in the PR because I don't view anything as blocking. I don't feel great about the paragraph indentation being non-uniform. The first paragraph of a section lacking indentation and then the following having it really sticks out to me. This is highlighted by the use of short single sentence paragraphs. Seeing it in this format makes this stick out more. The handbook feels more

[2020-08-01 04:20] bobertlo commented on #407
If anything, I think in light of this we could merge InfraDocs into the section above as like a see also... just so it doesn't sit alone on the page, or could be expanded to elaborate more on the infrastructure of void in general (and maybe indirectly ease common questions about a former public figure?)

Also, I wonder if it would be worth moving the style guide into a markdown file in the root of

[2020-08-01 04:25] bobertlo commented on #407
Also, I wonder if the contributing section could be worked around a little? If we move the style guide I think PopCorn and Contributing could just all fit in one page vs three (including the parent)

[2020-08-01 05:05] ericonr commented on #327
- http://web.archive.org/web/20191211213225/https://wiki.voidlinux.org/AppImages
- http://web.archive.org/web/20191211213222/https://wiki.voidlinux.org/Automatic_Login_to_Graphical_Environment - a bit out of scope, we already link to the agetty manpage where this information can be obtained; might make sense to mention explicitly
- http://web.archive.org/web/20191211212418/https://wiki.voidlinux.o

[2020-08-01 05:27] ericonr commented on #439
https://mirror.aarnet.edu.au/pub/voidlinux/ doesn't have up to date `current/`, but has live images, docs, static xbps. As a Tier 2 mirror, they aren't exactly required to provide any specific guarantees.

Same for https://ftp.swin.edu.au/voidlinux/, it seems.

There's a chance one is syncing from the other, so if we could contact one of them we could get `current/` being synced. Otherwise, we nee

[2020-08-01 05:29] ericonr commented on #439
@void-linux/void-ops might have some opinions about it.

[2020-08-01 05:37] the-maldridge commented on #439
Bandwidth to Australia might as well be done by mailing them disks.  I suspect AARNet is just defunct at this point as a mirror, and I don't have a current contact for Swinbourne, but I think they're probably just syncing from the wrong place.

[2020-08-02 01:29] flexibeast commented on #407
@bobertlo: Thanks for the feedback, and the suggestions. :-)

LaTeX provides defaults for each `documentclass` (such as `article` or `book`) that are considered "good typographic style" for that particular class, and i've generally not changed those defaults. But it's LaTeX, so there's a high probability of being able to change things to look exactly how we want. :-) (i recently read somewhere, ca

[2020-08-02 01:46] ericonr commented on #407
Moving this here.

So, I would prefer to update the `build.sh` script to take an option so it could run just `mdbook build` and `pdflatex` for us, and still be used for the man page generation when building the `void-docs` package. What we'd need to update then is the part that copies the generated artifacts into the folders used for distributing them. We'd also have to add a few necessary package

[2020-08-02 01:48] ericonr commented on #407
Given the plans of a transition to Docker, we might have to wait a bit to run all this :p

[2020-08-02 01:51] flexibeast commented on #407
Ah, so deploying the PDF will have to wait until after the Docker transition?

[2020-08-02 01:56] ericonr commented on #407
Preferrably so, as I understand it.

[2020-08-02 14:29] bobertlo opened #444 "Move style guide out of handbook"
There was a PR for this I think but it had unrelated changes that were disagreed on and it has drifted heavily. I think it would be more appropriate to have this guide in the root of the repository as a markdown file and link to that from the contributing section.

This could maybe just be called contributing.md and include git best practice also? Or that could go in the README?

I'm open to discu

[2020-08-02 14:31] bobertlo commented on #444
Related to #407

[2020-08-03 01:32] flexibeast commented on #444
Yeah, i like the idea of moving "Style Guide" and "Submitting Changes" to [CONTRIBUTING.md](https://github.com/void-linux/void-docs/blob/master/CONTRIBUTING.md) - the current CONTRIBUTING.md simply refers people to those sections, so moving those sections there would also remove a layer of indirection. :-)

[2020-08-03 03:26] ericonr commented on #425
Closed in db9ed78

[2020-08-03 03:26] #425 closed

[2020-08-03 10:35] Duncaen commented on #439
I kinda suspect that some mirrors don't sync correctly or break when they try to sync and there is a temporary file from xbps-rindex.

https://twitter.com/__eater__/status/1268876225415647234

[2020-08-03 11:33] ahesford commented on #327
Regarding Samba, there is nothing specific to Void and little of general value in the archived page. I see no reason to preserve it.

[2020-08-04 00:12] flexibeast commented on #444
@ericonr: Any objections? If not, i'll create a PR for this.

[2020-08-04 00:21] ericonr commented on #444
I think it makes sense. Go for it!

[2020-08-04 02:51] Veyrdite commented on #439
Back in 2018 I contacted Swinburne to try and get some broken syncing for their voidlinux mirror fixed.  I didn't do a very good job, but we managed to work out what was wrong and they fixed it.

Contact for this mirror:

* email host: swin.edu.au
* email username: systems

I ended up talking to Con (same day email conversation), but there are also other people behind that email.  Australian unis

[2020-08-04 03:38] ericonr commented on #407
Regarding @flexibeast's comment here https://github.com/void-linux/void-docs/pull/403#issuecomment-668347838 , this is an issue we have to solve, because it appears when building the `void-docs` package. Output:

[code]

[2020-08-04 03:45] flexibeast commented on #407
Indeed. i have a thought about how to address this, which i've not yet tested locally: on line 272 of `mdbook-latex`, change:

    $base =~ s|^.+/void-docs/src/||;

to:

    $base =~ s|^.+/src/||;

[2020-08-04 03:49] ericonr commented on #407
Seemed to work, nice!

[2020-08-04 03:55] flexibeast commented on #407
Okay, thanks - i'll create a PR including that change asap.

[2020-08-05 01:32] bobertlo commented on #327
I think Steam is covered by 3rd party software. It takes some doing to use the official package, but the flatpak works great.

[2020-08-05 01:33] bobertlo commented on #327
I don't see anything that jumps out as important void specific information in xfce

[2020-08-05 17:07] aeadio commented on #406
Thanks for pointing out vsv. I wasn't aware of it until now. But the documentation on it is pretty clear that `-u` is just a shorthand for `-d $HOME/runit/sv` and it's trivial to use any other directory by supplying `-d`. I write my own alias for `-d ~/sv` and I was on my way.

It doesn't seem like the handbook needs to go out of its way to mandate configuration or system policy around an obscure

[2020-08-06 14:51] amak79 commented on #133
Another idea for RPi.

The default CPU governor for the RPi kernel is `powersave`. This can make the system sluggish under certain loads as it will force the lowest frequency. A better default is `ondemand` which can be set for all cores with:
[code]
I put the above in `/etc/rc.local`

[2020-08-07 03:43] ericonr commented on #324
I'm not entirely sure how I feel about this. This whole thing is a bit over my head, tbh.

Ideally, I would like to completely remove `Note:` headings, using only constructs like `It should be noted that ...`, which frees up `**Warning**:` as the only type of paragraph that starts with a semi colon. This allows for simpler markdown that's still very easy to read as a "raw" file, and simpler HTML g

[2020-08-07 09:42] littlewing7 opened #454 "fail2ban missing Documentation"
I see the wiki page is deprecate, can you please update the documentation adding updated instructions for fail2ban?

Many thanks for your work

Massimo

[2020-08-07 11:34] flexibeast commented on #454
Looking at [the old wiki page](https://wiki.voidlinux.org/Fail2ban_-), the main reason to have it was some issues with the `fail2ban` package. However, the `fail2ban` [runit service](https://github.com/void-linux/void-packages/blob/master/srcpkgs/fail2ban/files/fail2ban/run) now creates the `/var/run/fail2ban` directory; and although it doesn't provide a `fail2ban-client` service, all [that servic

[2020-08-07 13:37] littlewing7 commented on #454
Hi

the wiki is not correct, mainly in regards with
/var/log/socklog/secure/current, because the filter is not matching
anything.

I think because the socklog sshd log generated is changed, so the suggested
filter is not matching anything.

for examples I have a log with more than 6000 lines, but nothing is matched
(using the suggested filter form the wiki):

------------------------
[INCLUDES]
be

[2020-08-07 14:09] flexibeast commented on #454
Sorry, it appears i've miscommunicated.

i'm not saying that the information on the wiki is correct. i'm saying that:

* the only Void-specific information on the wiki page appears to no longer be an issue;

* the sort of information found on the old wiki page should be searched for in the `fail2ban` documentation.

[The Handbook says](https://docs.voidlinux.org/about/about-this-handbook.html):

W

[2020-08-10 15:43] SirPscl opened #458 "DuckDuckGo Bangs"
Hi,

First of all: Nice to see the progress the docs are making :+1:

Wanted to point out that there are currently 4 DuckDuckGo Bangs (`!void`, `!vw`, `!voidwiki` and `!voiddocs`) [[source](https://duckduckgo.com/bang?q=void)]. The first three point to the deprecated wiki. My suggestion: update `!void` to use the handbook and delete `!vw` and `!voidwiki`. Also `!vd` seems to be unused.

I believe

[2020-08-10 15:50] ericonr commented on #458
I had no idea about this, and those are good suggestions. I will see about reaching out, thanks!

[2020-08-10 15:53] ahesford commented on #458
Not sure we want to associate `!vd` with Void!

[2020-08-10 18:25] ericonr commented on #458
Done, thanks again! Hope they accept the changes.

[2020-08-12 01:51] flexibeast opened #461 "Add Pinebook Pro installation guide to "ARM Devices" section"
A guide contributed by someone with access to this hardware wold be appreciated. :-)

[2020-08-12 05:14] flexibeast commented on #350
@void-linux/pkg-committers: Any thoughts on whether we should include a "VirtualBox" section, with the contents of [the old wiki page](https://wiki.voidlinux.org/VirtualBox)?

[2020-08-13 09:30] Piraty commented on #350
@flexibeast why not?

[2020-08-13 15:21] flexibeast commented on #350
@Piraty: Because it seems to me that there's a good chance it doesn't meet (my understanding of) requirements for inclusion in the Handbook.

The first part of the wiki page, about using Void as the host, is basically "Install this particular package". There's the mention of possibly needing to use `xbps-reconfigure`, but that applies to many packages that could be installed. There's the mention o

[2020-08-13 15:27] ericonr commented on #350
That should be documented under `dkms` already, and isn't very useful, since the `dkms` package already depends on `linux-headers`.

[2020-08-13 19:10] Piraty commented on #350
Running Void Linux in "containers" doesn't need that much of explanation, at least not for LXC/LXD and neither for Docker.
Using Void as guest in real virtualization like virtualBox or vmware should indeed deserve a section. I can provide both if desired (need to gasp the current state of doc first)

[2020-08-14 06:22] flexibeast commented on #350
Okay, fair enough. A "Void as a guest OS" section under "Containers and VMs" sounds good, and if you're able to work on that content, that would be appreciated - thanks. :-)

[2020-08-15 01:52] flexibeast commented on #371
@fosslinux: https://github.com/void-linux/void-packages/issues/24013 aside, how inaccurate is this section now that https://github.com/void-linux/void-packages/pull/23126 has been merged?

[2020-08-15 01:57] flexibeast commented on #214
@ericonr: What's the current status of https://github.com/void-linux/void-packages/pull/21453? Are there any blockers we need to work on in this repo?

[2020-08-15 02:03] ericonr commented on #214
I definitely need to update the build template, at least. Will have a look at current issues and PRs, too.

[2020-08-16 01:21] flexibeast commented on #454
Closing as out of scope.

[2020-08-16 01:21] #454 closed

[2020-08-16 08:34] flexibeast commented on #444
Closed by #446.

[2020-08-16 08:34] #444 closed

[2020-08-17 02:38] #310 closed

[2020-08-20 02:56] argosatcore opened #479 "Void Handbook Cover"
Hello Void team,

More than a feature request, this is a token of my appreciation towards your hard work. I made a little cover for the Void Handbook. If the cover is of your liking, feel free to incorporate it to the handbook. I'm also open to suggestions. I will also understand if the cover doesn't fit the handbook style. I will attach three variations of the same cover: light, dark and darker.

[2020-08-20 03:37] the-maldridge commented on #479
This looks really well done, and I think if we were ever to offer a print copy of the handbook, this is a good cover design.  The only feedback I can provide is that it looks too professional for void, as most of our graphical assets are slightly cobbled together.

[2020-08-20 03:38] Vaelatern commented on #479
I personally love it. What license is the work under? Is there source?

[2020-08-20 03:58] ericonr commented on #479
Hi! I think having a cover for the handbook is a very neat idea! I think it could fit with the design of the website a bit more. Do you think it could be done on a white background with sans-serif fonts? I'm mostly brainstorming here

And yes, having source for it would be awesome, since it allows us to update the text fields at need :D

[2020-08-20 04:08] argosatcore commented on #479
Hi, glad you liked it! Sure, I can tweak it to be more in sync with the Void website. Do you happen to know the name of the fonts used on the website? I will make some changes and after that I will post the changes here as well as the files that contain the design. As of now, all the design was made using free software and open type fonts (Librecaslon Display and Librecaslon Text). As for the lice

[2020-08-20 04:16] ericonr commented on #479
Possibly the fonts in https://github.com/void-linux/void-linux.github.io/tree/master/assets/fonts, definitely specified somewhere in https://github.com/void-linux/void-linux.github.io/ . I don't think we need to use the same exact font, though.

If you'd like to use the same one, this repo already uses a Creative Commons license which might fit, https://github.com/void-linux/void-docs/blob/master/

[2020-08-20 04:22] argosatcore commented on #479
Alright, I will take a look into it.

Sure, that license is fine by me.

[2020-08-20 04:44] argosatcore commented on #479
This is the modified version. The san serif font's name is Liberation San Serif. I also included darker variants in the .svg file.This was entirely done using inkscape.

![Void Handbook Cover Sans](https://user-images.githubusercontent.com/64110504/90717640-4975f000-e26d-11ea-98c0-4982213a9333.png)

[2020-08-20 04:50] argosatcore commented on #479
Oops, made a mistake will uploading the new cover and accidentally closed the issue. Anyways, here it is. It was done entirely with Inkscape. The name of the chosen font is Liberation Sans. GitHub doesn't seem to support the attachment of .svg files though this comments. Do you have an email where I can send the file?

![Void Handbook Cover Sans](https://user-images.githubusercontent.com/64110504/

[2020-08-20 05:06] Vaelatern commented on #479
Can you upload the svgs to, e.g., catbox.moe, and share the link here?

[2020-08-20 05:13] argosatcore commented on #479
Done! Here is the link: https://files.catbox.moe/esyich.svg

[2020-08-20 06:00] LamaRaz commented on #432
crypttab needs discard flag to pass through trim on block device to underlying block device, it does not initiate trim
lvm config is only for when you do lvm operations which delete stuff - so as to initiate trim, recommended, likely irrelevant if you don't intend to delete lvm partitions and leave them unclaimed for fstrim to later deal with at some later time with a fresh filesystem.

adding dis

[2020-08-20 13:39] flexibeast commented on #214
@ericonr: We can now close this, yes? :-D

[2020-08-20 13:43] ericonr commented on #214
Indeed! :D

[2020-08-20 13:43] #214 closed

[2020-08-20 13:45] flexibeast commented on #327
@void-linux/pkg-committers: Is any of the information in https://wiki.voidlinux.org/Known_Issues still relevant?

[2020-08-20 14:09] ericonr opened #482 "Add policy for changing page names"
Since we want people to link to the handbook, and these links might be there for a long time, there's a chance an update to the docs would completely break the link. Instead of having to keep page names that we feel should be changed, we can use the feature described here (and in the attached PR) https://github.com/rust-lang/mdBook/issues/430 to implement proper redirection. Then, most changes to

[2020-08-23 03:43] fosslinux opened #488 "dhcpcd and wpa_supplicant"
The network section main page has a section "dhcpcd". IMO, this should be moved out into a subpage just like the rest of the network handlers are.

In addition, when I set up my most recent void system, I had trouble linking wpa_supplicant with dhcpcd and just relied on my other system's configuration to make sure I got it right.

It requires either the linking or copying `10-wpa_supplicant` to `/

[2020-08-23 03:44] fosslinux opened #489 "META dead link in github issue template"
This is the template I get when making an issue.

The link is dead (https://docs.voidlinux.org/about-handbook/index.html)

[2020-08-23 04:34] #489 closed, assigned to nobody

[2020-08-23 05:10] flexibeast opened #492 "Tracking: Improving FDE content."
This issue consolidates #284, #375, #398 and #432. Further requests for corrections / improvements to FDE-related content should be made here, until all outstanding issues have been resolved.

- [ ] Refactor "Full Disk Encryption" section (#284)
- [ ] Add information regarding swap(/files) and hibernation in Full Disk Encryption (#375)
- [ ] FDE + EFI reworking (#398)
- [ ] Clarify what steps need

[2020-08-25 09:27] Kratacoa commented on #492
In case it may be useful, I have documented my installation in [this gist](https://gist.github.com/Kratacoa/95b1cce529afe8a2747ab7d74923be31), using BTRFS + swapfile encryption.
However, it is an incomplete guide (it is missing secure boot and proper SSD configuration).
I may contribute once I inquire again into it and have a clearer idea of what's going on.

[2020-08-25 09:36] Piraty commented on #488
As @jnbr mentioned, the hook is removed by upstream, and since Void's zen is "upstream knows best", there is nothing special to document about it.
People should consume manpages of the software versions they use instead of relying on outdated online resources (example: arch wiki)

[2020-08-25 10:24] fosslinux commented on #488
Eh, I guess. I didn't find it very clear that I would need to have two "network" services enabled, but that point is fair.

There is nothing about dhcpcd in the wpa_supplicant manpage nor wpa_supplicant in the dhcpcd manpage.

[2020-08-25 13:01] Piraty commented on #488
wpa_supplicant connects to APs, nothing more or less.

Quoting `man wpa_supplicant`

[2020-08-25 13:25] ericonr commented on #488
Me neither, we could mention it in the `wpa_supplicant` and `iwd` pages.

[2020-08-25 14:02] ahesford commented on #488
Giving a hint is OK, but I wouldn't go to too much trouble writing extensive documentation. There is nothing unique to Void about the interplay between `dhcpcd` and `wpa_supplicant`.

[2020-08-26 00:40] cinerea0 commented on #327
Should the [Zabbix](https://wiki.voidlinux.org/Zabbix_-) and [Zram](https://wiki.voidlinux.org/Zram_-) pages be added to the checklist? The former has some Void-specific knowledge and the latter contains instructions for setting up Zram that seem to be different from any other tutorial on the subject. If so, I'd be happy to port them myself.

[2020-08-26 01:33] flexibeast commented on #327
@cinerea0: Thanks for the offer. :-) However, as the trailing dash in the page names indicate, i believe they shouldn't be included in the Handbook:

* the Void-specific content in the Zabbix page is basically "install these packages and enable the services", which we expect users to be able to work out for themselves, using `xbps-query` to find the packages and [the Handbook to learn how to enabl

[2020-08-26 02:29] Vaelatern commented on #327
Re: Salt

Knowing the grains on the system is good.

Listing that the config files are under /etc/salt by default, and services are normal, is good.

Is it within the purview of the handbook to list github issues relevant to Void support in salt?

[2020-08-27 02:12] Tcll opened #498 "ALSA configuration docs are kinda misleading"
Sorry guys, I'm trying not to make too many doc issues,
but I keep finding stuff I've been advising against for years now :/

in [here](https://docs.voidlinux.org/config/media/alsa.html), you mention setting the default index in `alsa.conf`

... if you have 1 and only 1 sound card, then the issue doesn't concern you
but if you have 3 or more sound cards, then you may find yourself with shuffled de

[2020-08-30 05:09] flexibeast opened #501 "Create print versions of Handbook PDFs"
As requested by @the-maldridge. The print versions should have all hyperlinks removed, and references to external links should have the external link presented as a footnote.

[2020-08-30 05:13] flexibeast commented on #482
@ericonr: With #487 now merged, is there anything else to be done here, or can i close this?

[2020-08-30 14:38] ericonr commented on #482
I'd like to leave this open until Hacktoberfest, if anyone wants to give it us a hand and link some relevant old pages. What do you think?

[2020-08-30 14:43] flexibeast commented on #482
Okay, sure.

[2020-08-31 21:07] Duncaen commented on #267
This also shouldn't mention proot, using it on travis has proven that its really not a good idea and just results in random crashes.
Mentioning something like bubblewrap would be more appropriate.

[2020-09-03 13:57] Tcll opened #502 "luks tutorial is still horrible to follow"
This is an unresolved continuation of [my previous issue](https://github.com/void-linux/void-linux.github.io/issues/76) on this topic.
all you guys did was copy/paste the already horrible to follow tutorial from the [deprecated wiki](https://wiki.voidlinux.org/Full_Disk_Encryption_w/Encrypted_Boot) to the [new docs page](https://docs.voidlinux.org/installation/guides/fde.html)

while my previous i

[2020-09-03 14:21] ericonr commented on #502
We are all volunteers here with a pretty high workload already, and it seems no one has been able to get to this.

Furthermore:

- `void-installer` not supporting LUKS isn't relevant for this repo.
- the chroot installation _is_ used by several users
- open PRs, not issues. Alternatively, be less demanding. Language like "still makes no attempt" doesn't help anyone
- showing a more advanced guide

[2020-09-07 06:54] flexibeast opened #509 "Add colophon page to Handbook PDF"
Further to @the-maldridge's comment [here](https://github.com/void-linux/void-docs/pull/495#issuecomment-684562100).

[2020-09-09 11:23] Duncaen opened #512 "config/network/firewall.md: needs some rework/clarifications."
We currently have here two sections "Applying rules at boot" and "Applying rules at runtime" both are ambiguous.
Both of them work at boot and at runtime, they are two alternative methods, with the one "Applying rules at boot" being clearly the better solution because they don't need a fake service and they make sure firewall rules are loaded before network services are up.

* Change the headlines

[2020-09-09 12:21] flexibeast commented on #512
i'm happy to do all this once a decision is made on whether or not to split the "Firewalls" section as per #508.

[2020-09-10 18:03] Tcll commented on #502
I'm not a linux developer, I'm just a user, please don't ask me to open a PR for something I'm not knowledgeable about. ;)
I'm making a suggestion regarding `void-installer`, and the only reason I currently sound demanding is because my last issue was closed without reason and was not solved.
this issue pertains to improvement requests for the void docs
I do not have the ability to make these impr

[2020-09-10 20:22] hippi777 commented on #502
hi there :)

tldr: u r free to ignore the whole message at will :D

i actually work on a new installer, that takes a config instead of being an interactive eye-candy, but it still isnt ready to be published... later it could get a validator to make a sanity-check on the config, and a front-end that is more human friendly, but i think those tasks will be left to others, cuz i like the config style,

[2020-09-10 20:37] Tcll commented on #502
@hippi777 while I'm not a fan of the config style, I'm not against it :)
I like having the option, though I'd prefer an easy and well-coded interactive solution.

I'm not using Void to experiment with building my own Linux distro
I'm using Void cause it's the only distro I know of that's actually security focused
and I help others install it as well so they can have that security.
I'd like to see

[2020-09-11 01:07] Tcll commented on #502
ok @zdykstra @sgn could you please explain what part of my post you're downvoting.
is it the fact I'm making suggestions instead of doing actual work?
or is it the fact Microsoft offers the illusion of freedom?

[2020-09-11 02:17] sgn commented on #502
Dear Sir/Madame,

We're so sorry to hear your bad experience with our installer.

Please accept this message as our acknowledge that we've received your complaint.

We'll hand this issue over to the Customer Support Specialist.

In the meantime, in order to speed up the support, would you mind provide us your Privilege Customer Number!
We'll get a Business Analysis Specialist to work with you in o

[2020-09-19 09:20] Chocimier commented on #250
I like the idea. I do not agree that we should not translate documentation because there is too few translated documentation elsewhere.

Keeping documentation is sync is easy with po4a. It is done by creating .po files from .md files then recreating translated .md files from .po. Once original paragraph changes, old translation won't be used, but source language paragraph. Po files are only thing

[2020-10-02 21:45] Frick-David opened #518 "Add Pinephone Documentation to the Void Docs"
I got void linux working on my pinephone is a slightly hacky way. I talked a bit with the maker of u-boot and p-boot that made an image with 13 distros to try out stuff on the pinephone.

The article I followed was here: https://xnux.eu/howtos/install-arch-linux-arm.html

However, this did not work as the author changed up the repos somewhat for newer stuff to be accomplished.
When I talked with h

[2020-10-26 05:45] darkralts opened #524 "add sway"
*Before opening a request, please be sure to check [what content is suitable for the Handbook](https://docs.voidlinux.org/about/about-this-handbook.html).*

We prioritise requests for information specific to Void, and try to avoid duplicating information already available elsewhere (e.g. on the Arch wiki).
https://wiki.voidlinux.org/Sway_-

[2020-10-26 12:29] ericonr commented on #524
Do you want to add a Sway specific page to the docs? What would it include that's void specific?

[2020-10-27 11:07] darkralts commented on #524
like how to set it up on void and runit, maybe even musl

[2020-10-27 11:23] st3r4g opened #525 "iwd: mention openresolv"
imho the `iwd` page should add something about the possibility to `EnableNetworkConfiguration=true` and mention that upstream defaults to `NameResolvingService=systemd` which is not good on void. One should install `openresolv` and change the setting to `resolvconf`. I wonder if the default can be changed at build time.

[2020-10-27 13:52] ericonr commented on #524
Which part of the setup isn't covered by https://docs.voidlinux.org/config/graphical-session/wayland.html + sway official resources?

[2020-10-27 19:29] Johnnynator commented on #525
There is no build option, but it is easy to patch
[code]

[2020-12-07 04:39] ericonr commented on #525
That patch was added to IWD in https://github.com/void-linux/void-packages/commit/34d00472f9e7710bf909d4f6f4040fe2056fe66f

[2020-12-07 04:39] #525 closed

[2020-12-07 04:43] ericonr commented on #250
@Chocimier apparently I had missed your comment.

Can you share the repo where you have this? I'd be interested in working on this as well.

[2020-12-07 04:44] icemodding commented on #250
I can help with neutral Spanish and Latin American. :-)

[2020-12-07 04:45] #482 closed

[2020-12-07 04:46] ericonr commented on #479
The cover has been added, thank you!

[2020-12-07 04:46] #479 closed

[2020-12-07 04:47] ericonr commented on #524
Closing for inactivity.

[2020-12-07 04:47] #524 closed

[2020-12-07 18:51] Chocimier commented on #250
Nice to see some interest.

@ericonr, it was in `translations` branch of my fork as linked above, but now it is on master too, with [quickstart guide](https://github.com/Chocimier/void-docs#translations) in readme.

[2020-12-12 07:00] ericonr opened #532 "Document hwo to set up manpages-l10n"
Basically needs to mention `/etc/man.conf`

[2020-12-12 10:47] frmoronari opened #533 "Error on Full Disk Encryption documentation"
On doc for FDE, in pass to init Luks container, is mentioned to init /dev/sda1, but this is EFI partition.
Correctly is /dev/sda2

This image show the error:
https://i.ibb.co/P6MSywY/image-2020-12-11-19-02-12.png

Another that the partition needs type 8309 (Luks) and not 8300 (Linux filesystem).

[2020-12-19 21:41] abenson commented on #533
All of the examples are shown using Legacy BIOS Boot, not UEFI.   We could include examples for both, I guess, but that'd be repetitive.

[2021-01-03 02:37] FrostKnight commented on #533
Yeah, can you have two separate full disk encryption guides for encryption, one for legacy and one for uefi?
And at some point one for aarch64, if its possible?

[2021-01-30 01:58] ericonr opened #547 "Document rootless Xorg"
See https://github.com/void-linux/void-packages/issues/13754

Maybe with elogind and the elogind build option in Xorg? I don't know if we should give instructions to build packages locally with xbps-src in void-docs.

[2021-01-30 02:10] sgn commented on #547
On 2021-01-29 17:58:51-0800, Érico Nogueira Rolim <notifications@github.com> wrote:

Not sure if this is a terrible idea but adding the user to "input"
group and change "needs_root_right" to auto, Xorg will run with normal priviledge.

[2021-01-30 02:44] ericonr commented on #547
Supposedly most of the reason for seatd and elogind existing is that being in input group is bad.

[2021-01-30 13:41] Frick-David opened #548 "Document Resource: Secureboot"
I was interested in secureboot on void. One of the users on the Void Matrix group posted about it and shared how he set it up [here](https://pastebin.com/JzHJyiNc). Not sure if pastebin autodeletes stuff so I will paste it below in full: I will make a doc PR for this after I finish relearning git so this is notes for myself or if someone else want to PR it as well.

[code]

[2021-01-30 13:56] anon-lestat commented on #548
glad to see a guide i quickly wrote is of help :D

[2021-01-30 14:00] Frick-David commented on #548
@anon-lestat glad someone got something going on it. The arch linux guide on secureboot was way over my head.

[2021-01-30 14:03] anon-lestat commented on #548
# A little fix:
sudo xbps-install efitools efitools-efi sbsigntool

[2021-01-30 14:45] sgn commented on #548
For the <enter version here>, you can replace with `-${uname -r}`.
Disclaimer: I don't use this method.

[2021-01-30 14:53] ericonr commented on #548
I don't think this fits in void-docs at all, sorry. Key creation and enrollment are messy and there are a bunch of guides out there already. The only part that's void specific is the `sbsigntool` hook, which I tried to document in #507 . Could also mention that dracut supports signing.

I stopped using either, though, and have been happy with https://github.com/Foxboron/sbctl .

@sgn regarding usi

[2021-01-30 15:02] sgn commented on #548
@ericonr Heh, let's just assume that I won't update kernel :-p (I knew I was wrong)

Joking aside, dracut without any argument will update the initramfs for running kernel.
I would love to see if we can have a better hook for sbsigntool, the original was written by me, and it's, admittedly, badly written.
It's re-formatted from my personal hook, after all.

[2021-02-04 01:01] Frick-David commented on #548
@ericonr , should I close the issue then?

[2021-02-04 01:13] ericonr commented on #548
There *are* things that can be covered, as I mentioned. I'm not against having *some* Secure Boot information, I just don't want to host yet another guide on setting it up.

[2021-02-05 04:30] Frick-David commented on #548
@ericonr should the guides just be linked to then?

[2021-02-16 06:37] rmc0 opened #551 "bad link in 3.6 section"
The link to man page of ''setfont(1)'' must be ''setfont(8)''

[2021-02-21 12:20] jirib opened #555 "trousers (sw for TPM) needs udev rule to operate"
IIUC `/dev/tpm0` is root owner only but `tcsd`'s `run` file has:

[code]

This cannot make `tcsd` use `/dev/tpm0`, right? Arch Linux add following udev rule - https://aur.archlinux.org/cgit/aur.git/tree/70-tpmd.rules?h=trousers

[code]

[code]

[2021-02-21 13:19] jirib commented on #555
lol, bad repo :D

[2021-02-21 13:19] #555 closed

[2021-03-16 18:18] bcookatpcsd opened #646 "incorrect date on hwclock.. no ntp client in base.."
https://docs.voidlinux.org/config/date-time.html

Does not have any example how to fix the date and time on a system with incorrect date and time..

xpbs-install -S chrony wouldn't work because the ssl cert was so far in the future..

Can we get an example of,

To set the date on a local system, where the local date and time is very out of sync..

date --set="20210316 14:10"

The would set the dat

[2021-03-17 17:38] heliocat commented on #547
The input group grants read/write power to everything in /dev/input which is probably not what you want.

[2021-03-17 22:01] egrain opened #559 "Stuff that makes things harder for me"
I was ask to voice my grievances, so here - we - go:

"UEFI booting with GRUB also requires a special partition of the type EFI System with a vfat filesystem mounted at /boot/efi. A reasonable size for this partition could be between 200MB and 1GB."

200MB to 1Gb? for /boot/efi? I would understand if it was /boot with the kernel it if it had 200MB, but even there 1GB? The kernel has 60mb, even say

[2021-03-18 00:37] ericonr commented on #559
Some Apple devices require a 200MB minimum, others (iirc the EFI spec) require a 100MB minimum. Some people put the kernel in the ESP (I do), and since Void doesn't automatically clean up old initramfs/kernels (so you have to use `vkpurge`), it's easy for things to get bloated accidentally. If you know you don't need that much space, you can just not follow that part of the guide. We can try to ad

[2021-03-18 11:29] egrain commented on #559
I appreciate the quick answer.
In /etc/rc.conf there is stuff I have no idea about. I know what tty is, but why would I only start one or several? Do I need any for a remote server? If I get it wrong, does the box still boot? What's with the last thing. The cgroups and hybrids? No idea.

The rosetta stone page made switching to void very easier. Also even my female companion individual used it to

[2021-04-02 03:59] cinerea0 commented on #327
Given recent discussion on IRC, I think it would be best to remove the "Create Git Versions of Packages" entry because it's out of scope for the handbook and the details within are better covered by the xbps-src manual.

[2021-04-27 06:29] qontinuum-dev opened #569 "Removing location for tor mirrors"
Hi,
As tor is an anonymizing network that do its job by routing traffic on several locations in the world, there is no purpose to write the location of the tor mirrors.
Can this information be removed from the tor.md file?

[2021-04-27 12:59] ericonr commented on #569
I don't think it's necessary to remove it, but if you wish to leave it unspecified in #568, it should be ok.

[2021-04-27 13:13] qontinuum-dev commented on #569
Done thank you

[2021-04-27 13:13] #569 closed

[2021-05-03 08:07] ghost opened #571 "Full Disk Encryption: No mention of resolv.conf"
In the [Full Disk Encryption guide](https://docs.voidlinux.org/installation/guides/fde.html), resolv.conf is described.
In fact, I need to do `cp /etc/resolv.conf /mnt/etc/`.

[2021-05-03 08:09] goc980 commented on #492
I would like to see a guide added that does not encrypt /boot, but only encrypts /.

[2021-05-03 09:56] goc980 opened #572 "Kernel build guide using xbps-src"
Some hardware will not work unless you build the kernel manually.
The default kernel is not a panacea.
It is a good idea to have a guide, like Arch's ABS.

[2021-05-04 06:06] ericonr commented on #571
I could see it suggested in the general chroot guide, maybe. The FDE guide shouldn't get new details, IMO.

[2021-05-04 06:07] ericonr commented on #572
How do you see a guide working beyond telling someone to look at `void-packages`?

[2021-05-04 10:35] goc980 commented on #571
The Void installation guide is very confusing. I want it to be as easy to understand as Arch.

[2021-05-04 11:12] ericonr commented on #571
Could you explain the issues you are seeing?

[2021-06-05 01:25] abenson commented on #571
They've since left GitHub.

[2021-06-05 01:25] #571 closed

[2021-06-05 02:54] jpie726 commented on #327
Another page that has not yet been migrated to The Handbook: <https://wiki.voidlinux.org/Sway_->

[2021-06-05 03:09] ericonr commented on #327
@jpie726 That page is outdated and not in scope for the Void Handbook.

[2021-07-20 21:22] mark4th opened #592 "Documentation leads you down the garden path and leaves you hanging"
https://docs.voidlinux.org/installation/guides/fde.html

I always install with an encrypted / partiton, if i cannot encrypt / i move on to a different distribution.  This documentation starts with instructions to format the entire drive as luks1, then create logical volumes and format and mount them
ONLY THEN does it tell you you need an EFI partiton which ... newp... theres no space for now becau

[2021-07-20 21:55] paper42 commented on #592
Are you sure? The first part is true for MBR systems without UEFI, the second part is true for systems with UEFI. I think it's clearly distinguishable.

The first part is clearly meant "For an MBR system" (systems without EFI), the second part is "For an EFI system". I would maybe argue that the EFI part should be higher than the old MBR part, because most people are using systems with UEFI nowada

[2021-08-04 15:16] ericonr opened #594 "Simplify specific kernel version install"
See https://github.com/void-linux/void-packages/commit/6f5582e2c73728831817491a4cd58d6925da3c64

[2021-08-05 18:06] Duncaen opened #595 "Network configuration documentation issues"
https://github.com/void-linux/void-docs/blob/c068cd821bc61658cb49426f9d8ba2c49d745cf4/src/config/network/index.md#L3-L5

"The default installation" is weird, this should probably be fully removed or reworded to say that dhcpcd may be installed.

[2021-08-08 20:44] #592 closed

[2021-09-12 06:51] apirusKde opened #599 "Feature Request: Provide a way to setup Macchanger on reboot"
Would be nice to have a guide on how to setup a macchanger service or do it in some other way, so that the mac address randomizes on boot, in void linux.
Macchanger package is available in the repos

[2021-09-12 07:43] paper42 commented on #599
Running commands on boot is documented.

[2021-09-12 07:43] #599 closed

[2021-09-20 11:57] avb85 commented on #502
Yeah, it's been a year since then. And now, 2021, autumn. And the problem is still not solved.
Developers, please fix the installation manual for full-disk encryption. The manual located on the official website should be accurate, without errors.

[2021-09-20 14:23] zdykstra commented on #502
What, specifically, is wrong with the documentation for full-disk encryption? If you've recently run through the documentation and have noticed problems (typos, incorrect/incomplete steps, etc), please note them in detail.

[2021-09-20 17:53] Vaelatern commented on #502
This issue will now be closed.

While I appreciate the concerns people have with the more advanced installation guides, this project works best if all involved have a "how can I help" attitude. This issue has not inspired this attitude.

When opening followups, please either open pull requests with proposed fixes, or open specific issues  such as "this paragraph is unclear, is it referring to fizz

[2021-09-20 17:53] #502 closed

[2021-09-28 23:16] notthewave opened #603 "Get jack pipewire to work properly on musl"
Currently, following the void docs on pipewire does not lead to satisfactory results. There is a section in the alpine repo which works. I know the docs are against duplication of information, but this _**should at least be clarified.**_ Spent quite some time finding this out.
https://wiki.alpinelinux.org/wiki/PipeWire

The solution proposed in the docs does not make cadence work correctly. But th

[2021-09-29 23:15] notthewave commented on #603
[code]

[2021-09-29 23:30] ericonr commented on #603
I don't feel comfortable recommending things that will be flagged by `xbps-pkgdb`.

[2021-09-30 01:54] Costava opened #604 "Missing warning/disclaimer about automatic unlock of full disk encryption"
The [Full Disk Encryption]( https://docs.voidlinux.org/installation/guides/fde.html ) page includes instructions for automatically unlocking the encrypted volume at boot:

This automatic unlocking seems to defeat a lot of the purpose of full disk encryption -- any person with access/possession of the drive can decrypt the drive without needing to know any secret?

**It seems like there should be a

[2021-09-30 03:07] Vaelatern commented on #603
Maybe we can do something with alternatives?

Why does this work on glibc and not musl, difference in loading?

[2021-10-01 23:16] abenson commented on #604
The key is in a file, in the ramdisk, on the encrypted disk.  GRUB unlocks the disk with a secret passphrase and loads the ramdisk.

The key is not exposed until you enter the passphrase.

[2021-10-02 01:58] Costava commented on #604
Ah. GRUB still prompts for the passphrase. I assumed the worst and did not look into it properly. Thank you.

---

After your response, I went through the steps and do see only the one passphrase prompt from GRUB.
I did `cryptsetup luksRemoveKey`, removed `install_items+=" /boot/volume.key /etc/crypttab "` from `/etc/dracut.conf.d/10-crypt.conf`, and on next boot, saw both prompts.

[2021-10-02 01:58] #604 closed

[2021-10-03 03:24] #594 closed

[2021-10-03 08:27] st3r4g commented on #603
I thought `pw-jack` worked on musl. Uses `LD_LIBRARY_PATH`. Or are you referring to the `ld.so` override?

[2021-10-03 08:46] st3r4g commented on #603
[code]
Ah, maybe this is why. Try to replace `${LIB}` with `lib`.

[2021-10-13 08:10] adigitoleo opened #606 "Can't verify signature authenticity using provided minisign instructions"
Following the installation guide at https://docs.voidlinux.org/installation/index.html, I can't verify the signature authenticity for the 2021/02 release (`void-live-x86_64-20210218.iso`). I've removed the first line, but minisign still doesn't like it.

[code]

Refreshing the signature file and using signify instead worked:
[code]

Minisign by default wants a trusted comment instead of untrusted

[2021-10-30 22:15] st3r4g commented on #603
@ericonr I think we can close this as `pw-jack` now works on musl

[2021-10-31 03:57] ericonr commented on #603
Indeed, thanks!

[2021-10-31 03:57] #603 closed

[2021-11-03 16:37] Johnnynator opened #611 "RPI Graphical Session Documentation incomplete"
*Before opening an issue, please be sure to check [what content is suitable for the Handbook](https://docs.voidlinux.org/about/about-this-handbook.html).*

The rpi doc are mentioning to use mesa-dri + xorg modesetting, but does not mention that it is needed to enable `dtoverlay=vc4-kms-v3d` in `/boot/config.txt`, which is needed at least on an rpi3.

xorg will just print that no display is found w

[2021-11-10 23:26] Duncaen opened #613 "xbps virtualpkg documentation"
Currently it uses `virtualpkg=linux:linux5.6` as example which has some weird side effects, `ignorepkg` is more appropriate in this case.
A good alternative would be to actually use a real virtual package like `awk` or similar to show how switch between the "default" provider and another installed provider.

https://github.com/void-linux/void-docs/blob/d2e9ebaebabd2ef5cfd2bb254900cf9506aeb2c4/src/

[2021-11-18 12:05] Duncaen opened #616 "System Maintenance documentation"
I think it would be good if we add a "Maintenance" section or page which describes or links to some of the important maintenance tasks.

* Updating packages
* Maybe cleaning the xbps cache
* Maybe removing orphaned packages
* Checking for changed configuration files (`xdiff`?)
* Maybe checking for services that should be restarted (`xcheckrestart`?)
* Removing old kernels (`vkpurge`)
* Maybe clean

[2021-11-26 03:35] ryanm0 opened #620 "Full Disk Encryption: Misleading note on GRUB support for LUKS2"
Currently, the void-docs page for full-disk encryption states:

GRUB 2.06 did add support for LUKS2 encryption, however cryptsetup's default key derivation function for LUKS2 (Argon2) does not have support as of GRUB 2.06 (see [the cryptomount section of the GRUB documentation](https://www.gnu.org/software/grub/manual/grub/grub.html#cryptomount)). The current wording seems to imply that LUKS2 will

[2021-11-26 11:28] ahesford commented on #620
"GRUB releases before 2.06 only had support for LUKS1" does not imply that "LUKS 2 will work by default" on later releases. However, if you believe rewording th text would improve clarity, please PR some revisions.

[2021-12-02 02:30] st3r4g commented on #261
Leaving here the steps for gnome 40 + ibus + mozc:
1. install `mozc ibus-mozc`
2. in Setting > Keyboard > Input Sources, add Japanese (Mozc)
3. (non-trivial) set `active_on_launch: True` in `~/.config/mozc/ibus_config.textproto` (otherwise mozc starts in direct input mode) found [here](https://github.com/google/mozc/issues/201)
4. `ibus write-cache; ibus restart`
by default Super+Space toggles IME

[2021-12-06 22:13] hk0O7 commented on #327
[Fail2ban](https://wiki.voidlinux.org/Fail2ban) still seems to be missing.

[2021-12-19 23:35] camoz opened #631 "Installation guides: Is `--make-rslave` and `--rbind` really required for mounting pseudo filesystems?"
The installation guides (at least fde.md and chroot.md) use the mount flag `--make-rslave` for mounting the pseudo filesystems `proc`/`sysfs`/`dev`.

E.g. in chroot.md:

The official live installer however does not include the `--make-rslave` flag:

[code]

Just as a reference, the `arch-chroot` script from Arch does not include `--make-rslave` or  `--make-slave` either.

So my questions:

1. Is `

[2021-12-20 00:58] ahesford commented on #631
Consistency between the manual installation instructions and installer script is not really relevant, because the two branches are used for different purposes in different contexts.

Making these slave mounts is potentially useful during interactive installations because users may wish to change the mount hierarchy by, *e.g.*, mounting efivarfs under `/sys` from outside a chroot while expecting th

[2021-12-20 00:58] #631 closed

[2021-12-20 02:17] camoz commented on #631
Alright, thanks for the detailed explanation!

[2021-12-23 13:57] bobertlo opened #633 "Date and Time: clarify localtime settings (TIMEZONE is required for localtime)"
There have been multiple reports in IRC about localtime settings not working.

I was able to get this working by setting BOTH /etc/localtime and TIMEZONE="US/Central" in `rc.conf`, while the comments in `rc.conf` imply that you should set either /etc/localtime (preferred) OR TIMEZONE.

I have not had my coffee yet and @Duncaen understands what is happening better than I do. I just want to make sur

[2021-12-23 14:00] Duncaen commented on #633
I'm not sure if we should document this or fix the script instead, `TIMEZONE` in `/etc/rc.conf` will link `/etc/localtime` on each boot, changing the timezone will require updating both if you don't want to reboot.
I generally prefer just having one place where the timezone is set and that is by linking `/etc/localtime`.

[2021-12-23 14:04] bobertlo commented on #633
This sounds like a better solution to me 👍

On Thu, Dec 23, 2021 at 8:01 AM Duncan Overbruck ***@***.***>
wrote:

[2021-12-23 23:55] bobertlo opened #634 "Remove Unmaintained Flavor Images"
As of 2021-09-30, the only flavor image generated is XFCE.

[2021-12-24 02:47] camoz opened #635 "session-management.md: Proper handling of `XDG_RUNTIME_DIR`"
The docs have a section called [XDG_RUNTIME_DIR](https://docs.voidlinux.org/config/session-management.html#xdg_runtime_dir) which advises users that are not in a `elogind` environment (which takes care of `XDG_RUNTIME_DIR` automatically) to manually manage it through the shell:

This is not trivial to do while staying compliant to the [XDG spec](https://specifications.freedesktop.org/basedir-spec/

[2021-12-24 02:56] Duncaen commented on #635
The lifetime requirement is pretty pointless, if programs fail to handle unclean `$XDG_RUNTIME_DIR` directories they are buggy, logging out of your desktop environment does not mean all sessions, i.e. ssh will be closed which in turn means the directory is not cleaned.

[2021-12-27 02:19] camoz commented on #613
Maybe the example in void-docs and those in `xbps.d.5` and `xbps.conf` could be kept in sync. The latter currently use `virtualpkg=cron-daemon:dcron` as example.

[2021-12-27 06:39] camoz opened #642 "Unify `xbps/repositories/signing.md` with `void-packages/README.md`?"
https://github.com/void-linux/void-docs/pull/641 made me wonder if it's better to drop the section [Signing Repositories](https://docs.voidlinux.org/xbps/repositories/signing.html) and link to the README instead. Alternatively, drop the section in the README and link to the docs. Goal: not having duplicate documentation, which will probably lead to divergence in the future again.

But both "soluti

[2021-12-27 07:37] camoz opened #645 "Explain when xbps warns about a changed RSA key and when not"
Right now the following parts mention that xbps *might* report about a new RSA key:

- https://github.com/void-linux/void-docs/blob/master/src/xbps/troubleshooting/common-issues.md#verifying-rsa-keys
- https://github.com/void-linux/void-docs/blob/master/src/installation/guides/fde.md#system-installation
- https://github.com/void-linux/void-docs/blob/master/src/installation/guides/chroot.md#the-xbp

[2021-12-27 09:57] adigitoleo commented on #635
Note that the [rundir repo](https://github.com/ifreund/rundird) is archived/unmaintained, and the original author has created [an alternative](https://github.com/ifreund/dumb_runtime_dir) that doesn't remove the directory.

At the moment I have a permanent 0700 dir in .config for each user, and

[code]
Which is sort of similar to what the docs suggest, however I had issues with waypipe (ssh -X for

[2021-12-28 01:16] Duncaen commented on #645
The chroot guides could just copy the keys from the live media instead of having to manually verify. This keeps the chain of trust from the verified ISOs and is less error prone than manually verifying.

[code]

[2021-12-29 06:13] camoz opened #647 "Unify handling of swap space in docs and void-installer"
Right now the official docs say in `chroot.md` for swap in the `fstab`:

[code]
`fde.md` says:

[code]

The `void-installer` does:

[code]

[Archwiki](https://wiki.archlinux.org/title/Swap#Swap_partition) says:

[code]

`fstab(5)` says:

- for swap, use `none` for second field

If the `discard` option is used, then probably the docs + installer should also say/do `swapon -d`.

[2021-12-29 07:22] camoz opened #648 "chroot.md: In fstab, don't set all fs_passno entries to 1 or 2"
The docs in `chroot.md` tell to setup `fstab` by copying `/proc/mounts` and then modifying it.

They advise to:

This is generally not desired for `btrfs` and `xfs` filesystems, see `fsck.btrfs(8)` and
`fsck.xfs(8)`. In addition, `f2fs` currently seems to have problems with its `fsck`, so it should be set to `0` here as well (which is what the void-installer is currently doing if it's a root FS).

[2021-12-29 15:47] Duncaen commented on #635
Deviating from `/run/user/$UID/` comes with problems when programs don't actually follow the standard, as example chromium will not use `XDG_RUNTIME_DIR` and hardcodes `/run/user/$UID/` when it setups the sandbox, resulting in permission issues.

[2021-12-29 18:13] camoz commented on #645
Makes sense. It's an additional step in the guide, but it saves the user from manually comparing the fingerprints, so I think it would be a good addition.

An alternative would be to give xbps a `-k, --key-dir` (or similar) option to specify a custom directory containing the keys, similar to `-C` and `-c`. `pacman` has this FWIW (`--gpgdir`). But maybe this is considered "feature-creep" for xbps?

[2021-12-29 18:29] Duncaen commented on #645
The plan is to replace the signature stuff completely, adding new features that are going to be replaced with something where we may not have a "key dir" is probably not beneficial.
There is no trick, other than copying the actual keys into the the directory, static binaries and the ISOs come with the right keys.

[2021-12-30 01:08] adigitoleo commented on #635
I see, thanks for the clarifications. I looked into [pam_rundir](https://github.com/jjk-jacky/pam_rundir) but it seems there are some unresolved issues around the directory permissions. In [this issue](https://github.com/jjk-jacky/pam_rundir/issues/6) an artix guy mentions a fork of the project that apparently solves the issue. Void is not yet packaging that version.

Simple installation of the cu

[2021-12-30 05:47] camoz commented on #635
@adigitoleo I think, unfortunately, `pam_env` should not be used to set this variable, since PAM deprecated reading of user environment variables:

at some point in the future.

https://github.com/linux-pam/linux-pam/releases

There don't seem to be any good alternatives yet: https://www.reddit.com/r/archlinux/comments/l0ascx/pam_env_is_being_deprecated_any_alternatives/

Maybe we just need to wai

[2021-12-30 08:13] adigitoleo commented on #635
Makes sense. I'll probably wait for the dumb_runtime_dir package myself, but I can understand not recommending it. Was lurking IRC today so I've seen that discussion ;)

[2021-12-30 09:11] #645 closed

[2021-12-30 11:20] camoz commented on #616
Hah, just wanted to create that issue myself :)

I think those are all good points. I would definitively include cleaning the xbps cache and removing orphaned packages. Otherwise, over the years they would just pile up and use up disk space. And if there is not much free disk space in the first place (e.g. on a SBC or constrained VM/container), the system may actually end up unusable.

AFAIK `xbps

[2021-12-30 11:57] paper42 commented on #616
Removed packages will be replaced by the removed-packages package on a system update, so there is nothing to document other than suggest not to use -y and actually read what will happen.

[2021-12-30 12:34] Duncaen commented on #635
Another alternative, my favorite is just to create the directories in rc.local and export the variable from profiles.

[2021-12-31 11:14] camoz commented on #616
Oh, I see. Do you happen to know if there's an easy way to prevent that automatic replacement of removed packages by `removed-packages` and leave them installed?

[2022-01-01 14:24] Duncaen commented on #616
Adding `ignorepkg=removed-packages` to xbps.d and uninstalling the `removed-packages` package. The main point of the removed package is that sometimes there are situations where a installed remove package conflicts with an update, but some other installed package might depend on that removed package resulting in a weird place where you can not update the system because it would break the removed p

[2022-01-02 13:47] camoz opened #650 "Tidy up instructions on verifying live image's integrity/authenticity"
- The section [Verifying digital signature](https://docs.voidlinux.org/installation/index.html#verifying-digital-signature) could just link to [Verifying image integrity](https://docs.voidlinux.org/installation/index.html#verifying-image-integrity), and not repeat those instructions. The instructions may have to be adapted a little bit, to make it easy to follow.
- In the (currently repeated) inst

[2022-01-02 19:01] paper42 commented on #650
I wouldn't mention something so specific, especially when sha256sum is even in the smallest base meta-package.

[2022-01-25 01:01] JoaoP-Vieira commented on #250
Hi, a translation of a doc is very important to approximate people Void Linux and for Linux in general. I know, Void Linux docs are constantly changing, and this can be hard to maintain, even more with many other languages.
It's been 1 year since this issue has been opened and I want to know how the Void Linux team thinks about it.

[2022-01-25 07:29] Chocimier commented on #250
Team thinks that it is your job to translate, not ours. We will consider publishing, but there is nothing to publish yet.

[2022-01-31 01:11] slackjeff opened #653 "Create Mirror"
Hi! I want create a repository mirror in Brazil. We need.
But I saw that the size is around 1TB. I need ways (how to) how to reduce the size of the repository as much as possible. Unfortunately VPS in brazil is expensive

[2022-01-31 01:41] Vaelatern commented on #653
If you wanted to make a second class mirror without the debug packages, for example, the size would be smaller.

[2022-01-31 01:55] slackjeff commented on #653
rsync -avHP --delete                   \
            --exclude 'debug'          \
            --exclude 'aarch64'        \
            --exclude '*.armv7l.xbps*' \
            --exclude '*armv6l.xbps*'  \
            --exclude '*.i686.xbps*'   \
           rsync://mirror.clarkson.edu/voidlinux/current/ \
          /var/www/html/voidlinux/current/

Would it be enough? Another thing directory is cor

[2022-02-08 08:30] CohenAriel opened #656 "Chart in https://docs.voidlinux.org/config/graphical-session/graphics-drivers/nvidia.html is outdated"
*Before opening an issue, please be sure to check [what content is suitable for the Handbook](https://docs.voidlinux.org/about/about-this-handbook.html).*

We prioritise issues about information specific to Void, and try to avoid duplicating information already available elsewhere (e.g. on the Arch wiki).

[2022-02-10 09:17] 0x5c opened #659 "Acpid: Better document the events/anything file"
In the Power Management section, acpid and elogind are both mentioned, along with the incompatibility between them. However, the only documented "solution" is to completely disable acpid (which breaks things like acpi_listen) or completely remove acpi handling from elogind (which break proper sleep/etc handling in DEs which use it).

In reality, commenting out or removing `/etc/acpi/events/anythin

[2022-03-03 15:48] camoz commented on #620
It does not imply "LUKS 2 will work by default on later releases", but it heavily suggests it IMO. The PR looks good to me, FWIW, but I'm not a void dev.

[2022-03-03 15:53] camoz commented on #533
What about substituting `/dev/sda1` by a generic `<cryptroot>` placeholder? That also makes sure people think a bit about what they will format and don't blindly copy instructions that involve `/dev/sda*`...

[2022-03-03 16:01] camoz opened #662 "FDE guide: Use UUID instead of `/dev/sda*` in crypttab"
The FDE guide [here](https://docs.voidlinux.org/installation/guides/fde.html#luks-key-setup) currently shows the following example `/etc/crypttab`:

[code]

This should be changed to using the UUID of the encrypted device/partition, as the device file names `dev/sdx` are not deterministic.

Some user on #voidlinux just had an issue where the key file in the initramfs would sometimes not be picked